.coins {
  margin-top: 33px;
  > div {
    &:nth-child(2n + 1) {
      padding-right: 5px;
    }
    &:nth-child(1n + 2) {
      padding-left: 5px;
    }
  }
  @media (min-width: 768px) {
    > div {
      &:nth-child(2n + 1) {
        padding-right: 15px;
      }
      &:nth-child(1n + 2) {
        padding-left: 15px;
      }
    }
  }
}
.coin {
  flex-direction: column;
  display: flex;
  &__wrap {
    margin-bottom: 15px;
    > div {
      background-color: $white;
      border-radius: 16px;
      overflow: hidden;
      padding: 0 10px;
      height: 100%;
    }

    @media (min-width: 768px) {
      margin-bottom: 33px;
      > div {
        padding: 0 20px;
      }
    }
  }
  &__image {
    margin: 47px 0 25px;
    &.strict-height {
      height: 232px;
    }
    img {
      max-height: 232px;
      max-width: 100%;
    }
  }
  &__name {
    margin-bottom: 10px;
    font-size: 0.75rem;
    &.strict-height {
      height: 50px;
    }

    @media (min-width: 768px) {
      font-size: 1rem;
    }
  }
  &__info, &__price {
    > div {
      line-height: 1;
      span {
        margin-bottom: 5px;
        font-size: 0.7rem;

        @media (min-width: 768px) {
          font-size: 0.75rem;
        }
      }
      p {
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
  }
  &__info {
    flex-wrap: wrap;
    &.strict-height p {
      height: 47px;
    }
    > div p {
      font-size: 0.7rem;
    }

    @media (min-width: 768px) {
      flex-wrap: nowrap;
      > div p {
        font-size: 0.9rem;
      }
    }
  }
  &__price {
    margin-bottom: 12px;
    color: $brand-color;
    font-size: 0.75rem;
    font-weight: bold;
    margin-top: 1px;
    &-sell {
      a {
        background-image: url("data:image/svg+xml,%3Csvg width='14' height='14' viewBox='0 0 14 14' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.9997 0C3.13422 0 0 3.13422 0 6.9997C0 10.8652 3.13422 14 6.9997 14C10.8652 14 14 10.8652 14 6.9997C14 3.13422 10.8652 0 6.9997 0ZM8.45689 10.8486C8.09659 10.9908 7.80978 11.0987 7.59467 11.1733C7.38015 11.248 7.13067 11.2853 6.84681 11.2853C6.41067 11.2853 6.07111 11.1787 5.82933 10.9659C5.58756 10.7532 5.46726 10.4836 5.46726 10.1559C5.46726 10.0284 5.47615 9.89807 5.49393 9.76533C5.5123 9.63259 5.54133 9.48326 5.58104 9.31556L6.032 7.72267C6.0717 7.56978 6.10607 7.42459 6.13333 7.28948C6.16059 7.15318 6.17363 7.02815 6.17363 6.91437C6.17363 6.7117 6.13156 6.56948 6.048 6.48948C5.96326 6.40948 5.80385 6.37037 5.56622 6.37037C5.45007 6.37037 5.33037 6.38756 5.2077 6.4237C5.08622 6.46104 4.98074 6.49481 4.89422 6.528L5.01333 6.03733C5.30844 5.91704 5.59111 5.81393 5.86074 5.72859C6.13037 5.64207 6.38519 5.59941 6.62519 5.59941C7.05837 5.59941 7.39259 5.70489 7.62785 5.91348C7.86193 6.12267 7.97985 6.39467 7.97985 6.72889C7.97985 6.79822 7.97156 6.9203 7.95556 7.09452C7.93956 7.26933 7.90933 7.42874 7.86548 7.57511L7.41689 9.16326C7.38015 9.29067 7.34756 9.43644 7.31793 9.59941C7.28889 9.76237 7.27467 9.88682 7.27467 9.97037C7.27467 10.1813 7.32148 10.3253 7.4163 10.4018C7.50993 10.4782 7.67407 10.5167 7.90637 10.5167C8.016 10.5167 8.13867 10.4972 8.27733 10.4593C8.41481 10.4213 8.51437 10.3876 8.57719 10.3585L8.45689 10.8486ZM8.37748 4.40237C8.1683 4.59674 7.91644 4.69393 7.62193 4.69393C7.328 4.69393 7.07437 4.59674 6.86341 4.40237C6.65363 4.208 6.54756 3.97156 6.54756 3.69541C6.54756 3.41985 6.65422 3.18281 6.86341 2.98667C7.07437 2.78993 7.328 2.69215 7.62193 2.69215C7.91644 2.69215 8.16889 2.78993 8.37748 2.98667C8.58667 3.18281 8.69156 3.41985 8.69156 3.69541C8.69156 3.97215 8.58667 4.208 8.37748 4.40237Z' fill='%2376C0CD'/%3E%3C/svg%3E%0A");
        display: inline-block;
        margin: -1px 0 0 0;
        height: 14px;
        width: 14px;
        .a-tooltip {
          margin-top: -80px;
          display: none;
          right: 25px;
        }
        &:hover {
          .a-tooltip {
            display: flex;
          }
        }
      }
      &--empty-price {
        height: 55px;
      }
    }
    &.strict-height {
      height: 55px;
    }

    @media (min-width: 768px) {
      font-size: 22px;
      &-sell {
        a {
          margin-left: 7px;
        }
      }
    }
  }
  &__content {
    &-image {
      background-color: $white;
      border-radius: 16px;
      img {
        max-width: 100%;
      }
      > div {
        &:first-child {
          padding-left: 15px;
        }
        &:last-child {
          padding-right: 15px;
        }
      }

      @media (min-width: 768px) {
        > div {
          &:first-child {
            padding-left: 0;
          }
          &:last-child {
            padding-right: 0;
          }
        }
      }
    }
    &-name {
      letter-spacing: 0.3px;
      line-height: 1.5;
      font-size: 1rem;

      @media (min-width: 768px) {
        font-size: 1.25rem;
      }
    }
  }
  &__parameters {
    font-size: 0.9rem;
    &-name {
      min-width: 200px;
      opacity: 0.88;
      &--solid {
        opacity: 1;
      }
    }
    &-value {
      letter-spacing: 0.3px;
    }

    @media (min-width: 360px) {
      font-size: 1rem;
      &-name {
        min-width: 225px;
      }
    }

    @media (min-width: 768px) {
      &-name {
        min-width: 258px;
      }
    }
  }
  &__description {
    font-size: 1rem;
    opacity: 0.8;

    @media (min-width: 768px) {
      line-height: 20px;
    }
  }
  &__template {
    .coin__image, .coin__name, .coin__info p, .coin__price {
      background: linear-gradient(270deg, rgba(108, 108, 108, 0.25), rgba(58, 58, 58, 0.3));
      animation: gradientroll 3s ease infinite;
      background-size: 400% 400%;
    }
  }
}