.contacts__page {
  font-size: 1rem;
  &-show-map {
    border-bottom: 2px dashed;
    line-height: 1.3;
    font-size: 1rem;
    &:hover {
      border-bottom-color: transparent;
    }

    @media (min-width: 768px) {
      font-size: 1.5rem;
    }
  }
  &-loader {
    > div {
      max-height: 400px;
      z-index: 1;
      @media (min-height: 900px) {
        max-height: 600px;
      }
      iframe {
        height: 400px;
        @media (min-height: 900px) {
          height: 600px;
        }
      }
    }
    .contacts__page-iframe {
      position: relative;
      z-index: 2;
    }
  }
  &-schedule {
    p {
      margin-bottom: 0;
    }
  }
}