.carousel {
  box-shadow: 0 4px 6px rgba(47, 59, 65, 0.08);
  position: relative;
  z-index: 4;
  h2 {
    padding: 25px 0 150px;
    line-height: 26px;
    max-width: 560px;
    font-size: 19px;

    @media (min-width: 768px) {
      padding: 50px 0 50px;
      line-height: 45px;
      font-size: 31px;
    }
  }
  .slide-wrap {
    background: no-repeat 50% 80%;
    height: 235px;

    @media (min-width: 768px) {
      background: no-repeat calc(50% + 85px) 50%;
    }

    @media (min-width: 992px) {
      background: no-repeat calc(50% - 20px) 50%;
    }

    @media (min-width: 1200px) {
      background: no-repeat calc(50% + 85px) 50%;
    }
  }
}
.rates {
  margin-top: 34px;
  width: 325px;
}
.news {
  &__header {
    a {
      font-size: 1rem;
    }
  }
}
.faq {
  font-size: 1rem;
  &__question {
    a {
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='9' height='16' viewBox='0 0 9 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.233973 8.5711L7.42917 15.7639C7.74489 16.0788 8.25641 16.0788 8.57293 15.7639C8.88865 15.449 8.88865 14.9375 8.57293 14.6225L1.94844 8.00045L8.57213 1.37835C8.88785 1.06343 8.88785 0.551913 8.57213 0.236192C8.25641 -0.0787308 7.7441 -0.0787308 7.42837 0.236192L0.233175 7.42893C-0.0776951 7.7406 -0.0776951 8.26016 0.233973 8.5711Z' fill='%23373F42'/%3E%3C/svg%3E%0A");
        transition: all ease 0.3s;
        display: block;
        min-width: 9px;
        height: 16px;
        content: '';
      }
    }
  }
  &__answer {
    transition: all ease 0.3s;
    font-size: 0.9rem;
    overflow: hidden;
    height: 0;

    @media (min-width: 768px) {
      font-size: 1rem;
    }
  }
  &__item {
    &--open {
      a {
        &:after {
          transform: rotate(-90deg);
        }
      }
    }
  }
}