.article {
  background-color: $white;
  flex-direction: column;
  border-radius: 16px;
  overflow: hidden;
  display: flex;
  height: 100%;
  &__image {
    &:after {
      background: linear-gradient(180deg, rgba(242, 242, 242, 0) 78.12%, #fff 100%);
      position: absolute;
      height: 100%;
      width: 100%;
      content: '';
      bottom: 0;
      left: 0;
    }
  }
  &__title,
  &__text,
  &__date {
    line-height: 1.4;
    padding: 0 20px;
  }
  &__title {
    font-size: 1rem;
  }
  &__text {
    font-size: 1rem;
    opacity: 0.88;
  }
  &__date {
    margin-top: auto;
    font-size: 11px;
  }
  &__template {
    background: linear-gradient(270deg, rgba(108, 108, 108, 0.5), rgba(58, 58, 58, 0.7));
    animation: gradientroll 3s ease infinite;
    background-size: 400% 400%;
    height: 512.5px;
  }
}
.news__page {
  .container {
    border-radius: 16px;
  }
  .page__content {
    max-width: 846px;
    img {
      max-width: 100%;
    }
  }
  &-date {
    font-size: 0.75rem;
  }
  &-description {
    letter-spacing: 0.3px;
    font-size: 1rem;
    opacity: 0.8;
  }
}