.questions__page {
  h3 {
    display: none;
  }
}
.faq {
  &.loading {
    min-height: 444px;
  }
  &__item {
    &--open {
      .faq__question a {
        color: $primary;
      }
    }
  }
}
.questions-label {
  top: -140px;
}