// Body
$body-bg: #f4f3f9;

// Typography
$font-family-sans-serif: 'Inter', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$brand-color: #76c0cd;
$gray-900: #373f42;
$gray-500: rgba(55, 63, 66, 0.64);
$gray-200: #b9b9b9;
$danger: #d87384;
$success: #7edaa8;
