a, button {
  transition: all ease 0.3s;
  &, & path {
    transition: all ease 0.3s;
  }
  &:hover {
    text-decoration: none;
  }
}
h3 {
  font-weight: bold;
  font-size: 1rem;

  @media (min-width: 768px) {
    font-size: 1.5rem;
  }
}
h4 {
  font-weight: bold;
  font-size: 1rem;
}
.bg-brand-color {
  background-color: $brand-color;
}
.text-brand-color {
  color: $brand-color;
}
.text-main {
  color: $gray-900;
}
.text-gray {
  color: $gray-500;
}
.text-light-gray {
  color: $gray-200;
}
.container {
  max-width: 1400px;
}
.rates-stock {
  background-image: linear-gradient(0deg, $gray-900, $gray-900);
  overflow-x: scroll;

  > div {
    min-width: 1366px;
  }

  @media (min-width: 992px) {
    overflow-x: initial;
    > div {
      min-width: auto;
    }
  }
}
.navbar-nav {
  .nav-item {
    @media (min-width: 1280px) {
      margin-right: 1rem;
    }
  }
  .nav-link {
    color: $gray-900;
    &:hover {
      path {
        fill: $primary;
      }
    }
    &.active {
      color: $black;
    }
    &.home {
      margin-top: -2px;
      padding-left: 0;
    }
  }
}
.header {
  box-shadow: 0 4px 6px rgba(47, 59, 65, 0.08);
  z-index: 5;
  &__wrap {
    z-index: 6;
    top: 0;
  }
  a {
    font-size: 1rem;
    &:hover {
      color: $primary;
    }
  }
  .navbar-toggler {
    outline: none;
  }
  .navbar-collapse {
    box-shadow: 0 4px 6px rgba(47, 59, 65, 0.08);
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    background-color: $white;
    position: absolute;
    padding: 0 20px;
    left: 13px;
    z-index: 2;
    top: 45px;

    @media (min-width: 1200px) {
      background-color: transparent;
      position: relative;
      box-shadow: none;
      padding: 0;
      left: auto;
      top: auto;
    }
  }
  .navbar-brand {
    left: -15px;
    svg {
      width: 160px;
    }

    @media (min-width: 768px) {
      left: -50px;
      svg {
        width: auto;
      }
    }

    @media (min-width: 992px) {
      left: -190px;
    }

    @media (min-width: 1200px) {
      left: -20px;
    }

    @media (min-width: 1280px) {
      left: -80px;
    }
  }
  &__separator {
    top: 70px;
    left: 0;
  }
  &__phones {
    a {
      font-size: 0.7rem;
      &:hover {
        path {
          stroke: $primary;
          fill: $primary;
        }
      }
      &.phones-link:after {
        background-image: url("data:image/svg+xml,%3Csvg width='10' height='6' viewBox='0 0 10 6' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.35688 5.60677L9.85234 1.10982C10.0492 0.912497 10.0492 0.592801 9.85234 0.39498C9.65551 0.197656 9.33582 0.197656 9.13899 0.39498L5.00023 4.53524L0.861462 0.395479C0.664637 0.198155 0.344942 0.198155 0.147619 0.395479C-0.0492065 0.592802 -0.0492065 0.912995 0.147619 1.11032L4.64304 5.60727C4.83783 5.80156 5.16255 5.80156 5.35688 5.60677Z' fill='%23373F42'/%3E%3C/svg%3E%0A");
        display: inline-block;
        margin: 0 0 1px 3px;
        content: '';
        height: 6px;
        width: 10px;
      }
      svg {
        position: relative;
        top: -1px;
      }

      @media (min-width: 355px) {
        font-size: 0.9rem;
      }

      @media (min-width: 768px) {
        font-size: 1rem;
        &.phones-link:after {
          display: none;
        }
        svg {
          top: 0;
        }
      }
    }
    &-wrap {
      width: 100%;
      a {
        &:hover {
          path {
            fill: $primary;
          }
        }
      }
      @media (min-width: 768px) {
        width: auto;
      }
    }
    &-chats {
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      margin-top: 10px;
      right: 0;
      a {
        margin-top: 20px;
        svg {
          border-radius: 50%;
        }
      }
    }
  }
}
.a-tooltip {
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.08);
  background-color: $brand-color;
  font-weight: normal;
  position: absolute;
  border-radius: 8px;
  font-size: 0.9rem;
  line-height: 1.5;
  display: flex;
  color: $white;
  padding: 15px;
  z-index: 2;
  &:before {
    background: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7.99966 0C3.58197 0 0 3.58197 0 7.99966C0 12.4174 3.58197 16 7.99966 16C12.4174 16 16 12.4174 16 7.99966C16 3.58197 12.4174 0 7.99966 0ZM9.66502 12.3984C9.25325 12.5609 8.92546 12.6842 8.67962 12.7695C8.43445 12.8549 8.14933 12.8975 7.82493 12.8975C7.32648 12.8975 6.93841 12.7756 6.6621 12.5325C6.38578 12.2894 6.2483 11.9812 6.2483 11.6067C6.2483 11.4611 6.25845 11.3121 6.27877 11.1604C6.29977 11.0087 6.33295 10.838 6.37833 10.6463L6.89371 8.8259C6.93909 8.65117 6.97837 8.48525 7.00952 8.33084C7.04068 8.17507 7.05558 8.03217 7.05558 7.90214C7.05558 7.67052 7.00749 7.50798 6.912 7.41655C6.81515 7.32512 6.63297 7.28042 6.3614 7.28042C6.22866 7.28042 6.09185 7.30006 5.95166 7.34138C5.81283 7.38404 5.69228 7.42265 5.5934 7.46057L5.72952 6.89981C6.06679 6.76233 6.38984 6.64449 6.69799 6.54696C7.00614 6.44808 7.29735 6.39932 7.57164 6.39932C8.06671 6.39932 8.44868 6.51987 8.71754 6.75826C8.98506 6.99733 9.11983 7.30819 9.11983 7.69016C9.11983 7.7694 9.11035 7.90891 9.09206 8.10802C9.07378 8.30781 9.03924 8.48999 8.98912 8.65727L8.47644 10.4723C8.43445 10.6179 8.39721 10.7845 8.36334 10.9708C8.33016 11.157 8.3139 11.2992 8.3139 11.3947C8.3139 11.6358 8.36741 11.8004 8.47577 11.8877C8.58277 11.9751 8.77037 12.0191 9.03585 12.0191C9.16114 12.0191 9.30133 11.9968 9.45981 11.9534C9.61693 11.9101 9.73071 11.8715 9.8025 11.8383L9.66502 12.3984ZM9.57426 5.03128C9.3352 5.25342 9.04737 5.36449 8.71077 5.36449C8.37486 5.36449 8.08499 5.25342 7.84389 5.03128C7.60415 4.80914 7.48292 4.53892 7.48292 4.22332C7.48292 3.9084 7.60483 3.6375 7.84389 3.41333C8.08499 3.18849 8.37486 3.07674 8.71077 3.07674C9.04737 3.07674 9.33587 3.18849 9.57426 3.41333C9.81333 3.6375 9.93321 3.9084 9.93321 4.22332C9.93321 4.5396 9.81333 4.80914 9.57426 5.03128Z' fill='white'/%3E%3C/svg%3E%0A") no-repeat 0 0;
    margin: 2px 10px 0 0;
    min-height: 16px;
    min-width: 16px;
    display: block;
    content: '';
  }
}
.footer {
  font-size: 1rem;
  > div > div {
    border-top: 1px solid rgba(40, 42, 44, 0.16);
  }
  .navbar-brand {
    svg {
      width: 160px;
    }

    @media (min-width: 768px) {
      svg {
        width: auto;
      }
    }
  }
  &__contacts {
    a {
      &:hover {
        path {
          stroke: $primary;
          fill: $primary;
        }
      }
    }
  }
}
.scroll-top {
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='42' viewBox='0 0 42 42' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M20 39C30.4934 39 39 30.4934 39 20C39 9.50659 30.4934 1 20 1C9.50656 1 0.999969 9.50659 0.999969 20C0.999969 30.4934 9.50656 39 20 39Z' fill='%2376C0CD'/%3E%3Cpath d='M26.6528 24.6254C26.1954 25.1249 25.4565 25.1249 24.9991 24.6254L19.9676 19.1034L14.9361 24.6254C14.4446 25.0875 13.7034 25.0244 13.2823 24.4851C12.9059 24.0038 12.9059 23.2919 13.2823 22.8105L19.1466 16.3746C19.604 15.8751 20.3429 15.8751 20.8003 16.3746L26.6645 22.8105C27.1161 23.3164 27.1114 24.1273 26.6528 24.6254Z' fill='white'/%3E%3C/svg%3E%0A");
  margin-left: 4px;
  bottom: 20px;
  height: 42px;
  width: 42px;
}
.mobile-call {
  background-color: $brand-color;
  border-radius: 50%;
  margin-right: 4px;
  bottom: 20px;
  height: 42px;
  width: 42px;
  svg {
    margin-left: -1px;
    margin-top: 1px;
    width: 27px;
    fill: #fff;
  }
}
.breadcrumbs {
  padding: 12px 0 21px;
  li {
    font-size: 0.75rem;
    > a {
      opacity: 0.66;
      &:after {
        background-image: url("data:image/svg+xml,%3Csvg width='6' height='8' viewBox='0 0 6 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.2802 4.00027C5.2802 4.14364 5.22545 4.287 5.11619 4.39631L1.67634 7.83613C1.45752 8.05495 1.10275 8.05495 0.884017 7.83613C0.665288 7.6174 0.665288 7.2627 0.884017 7.04386L3.92779 4.00027L0.884123 0.956651C0.665394 0.737834 0.665394 0.383165 0.884123 0.164453C1.10285 -0.0544701 1.45763 -0.0544701 1.67644 0.164453L5.1163 3.60422C5.22558 3.71358 5.2802 3.85694 5.2802 4.00027Z' fill='%23373F42'/%3E%3C/svg%3E%0A");
        margin: 0 3px 0 10px;
        display: block;
        content: '';
        height: 8px;
        width: 6px;
      }
    }
    > p {
      opacity: 0.8;
    }
  }
}
.page {
  &__default {
    background-color: #ecf2f5;

    @media (min-width: 992px) {
      background-color: $body-bg;
    }
  }
  &__content {
    h1 {
      letter-spacing: 0.3px;
      font-size: 1rem;
    }
    ul {
      padding-left: 1.5rem;
      li {
        margin-bottom: 1rem;
        font-size: 1rem;
      }
    }
    h4 {
      margin-bottom: 1rem;
    }

    @media (min-width: 768px) {
      h1 {
        font-size: 1.5rem;
      }
    }
  }
}
.pagination {
  .page-item {
    .page-link {
      background-color: transparent;
      padding: 0.44rem 0.79rem;
      color: $brand-color;
      border-radius: 8px;
      margin: 0 0.5rem;
      border: none;
    }
    &.active .page-link {
      background-color: $brand-color;
      color: $white;
    }
    &.disabled .page-link {
      color: $gray-500;
    }
  }

  @media (min-width: 768px) {
    .pagination-start {
      margin-right: 4rem;
    }
    .pagination-end {
      margin-left: 4rem;
    }
  }
}
@keyframes gradientroll {
  0%{background-position:0 99%}
  50%{background-position:100% 2%}
  100%{background-position:0 88%}
}