.content-editor {
  textarea {
    min-height: 150px;
  }
}
.no-columns {
  flex-wrap: nowrap;
  label {
    max-width: none;
    width: auto;
    flex: auto;
    & + div {
      margin-top: -3px;
      max-width: none;
      flex: auto;
    }
  }
}
.form-column {
  label {
    max-width: none;
    flex: auto;
    & + div {
      max-width: none;
      flex: auto;
    }
  }
}
.form-buttons {
  bottom: 15px;
  right: 15px;
}
.order-wrap {
  i {
    font-size: 2rem;
  }
}
.btn-blink {
  animation: blinker 1s linear infinite;
}
.border-dashed {
  border-bottom: 1px dashed;
}

@keyframes blinker {
  0% { background-color: #007bff; box-shadow: 0 0 3px #007bff; }
  50% { background-color: #17a2b8; box-shadow: 0 0 40px #17a2b8; }
  100% { background-color: #007bff; box-shadow: 0 0 3px #007bff; }
}