<template>
  <div>
    <template v-if="propertiesAllowed.length">
      <div
          v-for="(property, index) in propertiesAllowed"
          :key="index"
          class="form-group row"
          :class="property.className"
      >
        <label
            class="col-sm-2 col-form-label"
            :for="property.name"
            :title="properties[property.name] ? properties[property.name].title : ''"
            v-html="property.title || properties[property.name].title"
        />
        <div class="col-sm-10">
          <input
              v-if="!['textarea', 'select', 'radio', 'file', 'editor', 'editor-compact'].includes(property.type)"
              v-model="formData[property.name]"
              :class="errors[property.name] ? 'is-invalid' : ''"
              :id="property.name"
              :placeholder="properties[property.name] ? properties[property.name].title : ''"
              :required="!property.nullable"
              :disabled="property.disabled"
              :type="property.type === 'number' ? 'number' : 'text'"
              :min="property.min"
              :max="property.min"
              :minlength="property.minlength"
              :maxlength="property.maxlength"
              class="form-control"
          >
          <v-select
              v-else-if="property.type === 'select'"
              v-model="formData[property.name]"
              :class="errors[property.name] ? 'is-invalid' : ''"
              :options="options[property.name]"
              :reduce="option => option.id"
              label="name"
              :clearable="false"
              @input="selectChange(property.name)"
          />
          <div
              v-else-if="property.type === 'radio'"
              class="custom-control custom-switch d-flex align-items-center"
              :class="errors[property.name] ? 'is-invalid' : ''"
          >
            <input
                v-model="formData[property.name]"
                type="checkbox"
                class="custom-control-input"
                :id="property.name"
            >
            <label
                class="custom-control-label"
                :for="property.name"
            />
          </div>
          <template v-else-if="property.type === 'file'">
            <span class="d-block" v-if="property.help" v-text="property.help" />
            <image-upload
                :property-name="property.name"
                :source="getImage(property.name)"
                :data="formData"
                :type="imageType"
                :image-name="imageName"
                :show-upload-button="!!formData.id"
            />
          </template>
          <div v-else-if="['editor', 'editor-compact'].includes(property.type)">
            <ul class="list-unstyled d-flex">
              <li>
                <a
                    @click.prevent="showCode = false"
                    class="text-body mr-3"
                    :class="[!showCode ? 'font-weight-bold' : 'border-dashed']"
                    href="#"
                >Редактор</a></li>
              <li>
                <a
                    @click.prevent="showCode = true"
                    class="text-body"
                    :class="[showCode ? 'font-weight-bold' : 'border-dashed']"
                    href="#"
                >Код</a></li>
            </ul>
            <template v-if="!showCode">
              <VueEditor
                  :id="property.name"
                  v-model="formData[property.name]"
                  :class="errors[property.name] ? 'is-invalid' : ''"
                  :editorToolbar="!editorToolbar ? (property.type === 'editor' ? [] : customToolbar) : editorToolbar"
                  useCustomImageHandler
                  @image-added="handleImageAdded"
              />
            </template>
            <template v-else>
              <textarea
                  :id="property.name"
                  v-model="formData[property.name]"
                  :class="errors[property.name] ? 'is-invalid' : ''"
                  class="form-control"
                  rows="20"
              ></textarea>
            </template>
          </div>
          <textarea
              v-else
              v-model="formData[property.name]"
              :class="errors[property.name] ? 'is-invalid' : ''"
              :id="property.name"
              class="form-control"
              :placeholder="properties[property.name].title"
              :required="!property.nullable"
              :disabled="property.disabled"
          ></textarea>
          <template v-if="errors[property.name]">
            <span
                v-for="(error, errorIndex) in errors[property.name]"
                :key="errorIndex"
                v-html="error"
                class="error invalid-feedback"
            />
          </template>
        </div>
      </div>
    </template>
  </div>
</template>

<script>
import { VueEditor } from 'vue2-editor';
import toastr from '../plugins/toastr.min';
import moment from 'moment/moment';
require('moment/locale/ru');

import ImageUpload from './ImageUpload';

export default {
  name: 'FormSpec',
  components: {
    ImageUpload,
    VueEditor,
  },
  props: {
    properties: {
      type: Object,
      required: true,
    },
    propertiesAllowed: {
      type: Array,
      required: true,
    },
    data: {
      type: Object,
      default: null,
    },
    selects: {
      type: Object,
      default: null,
    },
    errors: {
      type: Object,
      required: true,
    },
    imageType: {
      type: String,
      default: '',
    },
    imageName: {
      type: String,
      default: '',
    },
    editorToolbar: {
      type: Array,
      default: null,
    },
  },
  data() {
    return {
      formData: this.data,
      options: this.selects,
      customToolbar: [
        ['bold', 'italic', 'underline'],
      ],
      showCode: false,
    };
  },
  mounted() {
    for (const property of this.propertiesAllowed) {
      if (property.type === 'select' && this.options[property.name]) {
        this.formData[property.name] = this.formData[property.name] || property.default;
      }

      if (property.type === 'date') {
        this.formData[property.name] = this.dateFormat(this.formData[property.name], property.format);
      }
    }
  },
  methods: {
    selectChange(property) {
      const options = [...this.options[property]];
      this.options[property] = [];
      this.options[property] = options;
    },
    dateFormat(date, format = 'DD.MM.YYYY HH:mm:ss') {
      return moment(date).format(format);
    },
    getImage(propertyName) {
      if (this.data.images || this.data.image) {
        if (propertyName === 'obverse') {
          return this.data.images[0];
        } else if (propertyName === 'reverse') {
          return this.data.images[1];
        } else if (propertyName === 'image') {
          return this.data.image;
        }
      }
      return null;
    },
    handleImageAdded(file, Editor, cursorLocation, resetUploader) {
      const formData = new FormData();
      formData.append('image', file);

      formData.append('id', this.formData.id || '0');
      formData.append('type', this.imageType);

      window.axios.post('/file', formData)
          .then(result => {
            const path = Object.values(result.data.paths)[0];
            Editor.insertEmbed(cursorLocation, 'image', path);
            resetUploader();
          }).catch(err => {
            toastr.error('Ошибка при загрузке картинки!');
            console.log(err.response);
          });
    },
  },
}
</script>
