<template>
  <div>
    <div
        :class="{ 'is-invalid': Object.values(errors).length }"
        class="input-group mb-2"
    >
      <div class="custom-file">
        <input
            :id="propertyName"
            type="file"
            class="custom-file-input"
            accept="image/jpg,png"
            @change="showImage"
        >
        <label
            class="custom-file-label"
            :for="propertyName"
            v-text="'Выбрать файл'"
        />
      </div>
      <div v-if="showUploadButton" class="input-group-append">
        <save-button
            :loading="loadingButton"
            @click="upload"
            text="Загрузить"
            :className="'btn-primary' + (blinkingButton ? ' btn-blink' : '')" />
      </div>
    </div>
    <img
        v-if="!['image', 'banner'].includes(propertyName)"
        :src="url || '//via.placeholder.com/232x232'"
        width="232"
        alt=""
    >
    <img
        v-else-if="propertyName === 'banner'"
        class="mw-100"
        :src="url || '//via.placeholder.com/343x149'"
        alt=""
    >
    <img
        v-else
        class="mw-100"
        :src="url || '//via.placeholder.com/443x296'"
        alt=""
    >
    <template v-if="Object.values(errors).length">
      <template
          v-for="errorItem in errors"
      >
        <span
            v-for="(error, errorIndex) in errorItem"
            :key="errorIndex"
            v-html="error"
            class="error invalid-feedback d-block"
        />
      </template>
    </template>
  </div>
</template>

<script>
import toastr from '../plugins/toastr.min';

export default {
  name: 'ImageUpload',
  props: {
    propertyName: {
      type: String,
      required: true,
    },
    source: {
      default: '',
    },
    data: {
      type: Object,
      required: true,
    },
    type: {
      type: String,
      required: true,
    },
    imageName: {
      type: String,
      default: '',
    },
    showUploadButton: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      url: this.source + '?hash=' + Math.floor(Math.random() * (100000 - 1 + 1)) + 1,
      file: null,
      formData: this.data,
      errors: {},
      loadingButton: false,
      blinkingButton: false,
    };
  },
  methods: {
    showImage(event) {
      this.file = event.target.files[0];
      this.url = URL.createObjectURL(this.file);
      this.blinkingButton = true;

      if (!['image', 'banner'].includes(this.propertyName)) {
        this.formData[`image${this.propertyName[0].toUpperCase()}${this.propertyName.slice(1)}`] = this.file;
      } else {
        this.formData.image = this.file;
      }
    },
    upload() {
      const formData = new FormData();
      if (!['image', 'banner'].includes(this.propertyName)) {
        formData.append(`image${this.propertyName[0].toUpperCase()}${this.propertyName.slice(1)}`, this.file);
      } else {
        formData.append('image', this.file);
      }

      formData.append('id', this.formData.id);
      formData.append('type', this.type);
      formData.append('image_name', this.imageName);

      this.errors = {};
      this.blinkingButton = false;
      if (this.file) {
        this.loadingButton = true;
        window.axios.post('/file', formData)
            .then((res) => {
              if (res.data.ok) {
                toastr.success('Картинка успешно загружена!');
                this.$emit('paths', res.data.paths);
              } else {
                toastr.error(res.data.message || 'Ошибка при загрузке картинки!');
              }
            }).catch((errors) => {
              toastr.error('Ошибка при загрузке картинки!');
              this.errors = errors.response.data.errors;
            }).finally(() => {
              this.loadingButton = false;
            });
      }
    },
  },
}
</script>
