<template>
  <button
      class="btn d-inline-flex align-items-center"
      :class="className"
      type="button"
      :disabled="loading"
      v-on="$listeners"
  >
    <span
        v-if="loading"
        class="spinner-border spinner-border-sm mr-2"
        role="status" aria-hidden="true"
    ></span>
    {{ text }}
  </button>
</template>

<script>
export default {
  name: 'SaveButton',
  props: {
    loading: {
      type: Boolean,
      default: false,
    },
    className: {
      type: String,
      default: 'btn-success',
    },
    text: {
      type: String,
      default: 'Сохранить',
    },
  },
}
</script>
