<template>
  <div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
      <!-- Left navbar links -->
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/" class="nav-link">Вернуться на сайт</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item d-none d-sm-inline-block">
          <a href="/backend/logout" class="nav-link text-primary d-flex align-items-center">
            Выйти <i class="fas fa-sign-out-alt fa-2x ml-2"></i></a>
        </li>
      </ul>
    </nav>
    <!-- /.navbar -->

    <!-- Main Sidebar Container -->
    <aside class="main-sidebar sidebar-dark-primary elevation-4">
      <!-- Brand Logo -->
      <a href="/backend" class="brand-link">
        <img src="/storage/logo.png" alt="Almiranta" class="brand-image img-circle elevation-3">
        <span class="brand-text font-weight-light">Almiranta</span>
      </a>

      <!-- Sidebar -->
      <div class="sidebar">
        <!-- Sidebar user (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
          <div class="image">
            <img src="/storage/coin.png" class="img-circle elevation-2" alt="User Image">
          </div>
          <div class="info">
            <a href="#" class="d-block">Администратор</a>
          </div>
        </div>

        <!-- Sidebar Menu -->
        <menu-sidebar />
        <!-- /.sidebar-menu -->
      </div>
      <!-- /.sidebar -->
    </aside>

    <router-view></router-view>

    <footer class="main-footer">
      <div class="float-right d-none d-sm-block">
        <b>Version</b> 1.0.0
      </div>
      <strong>Copyright &copy; 2013-{{ new Date().getFullYear() }}. Сайт разработали: <a href="https://t.me/ingvarfox">Игорь Ефремов</a>, Куренков Дмитрий, Сергей Крицкий</strong>
    </footer>
  </div>
</template>

<script>
import MenuSidebar from './MenuSidebar';

export default {
  components: {
    MenuSidebar,
  },
  data() {
    return {
    };
  },
};
</script>
