<template>
  <nav class="mt-2">
    <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
      <li class="nav-item">
        <a
            href="/backend"
            class="nav-link"
            :class="{ active: currentUrl === '/backend' }"
        >
          <i class="fas fa-home nav-icon"></i>
          <p>
            Панель
          </p>
        </a>
      </li>
      <li class="nav-header text-uppercase">Общее</li>
      <li class="nav-item menu-open">
        <a
            href="#" class="nav-link"
            :class="{ active: pages.map(page => page.url).includes(currentUrl) }"
        >
          <i class="far fa-file-alt nav-icon"></i>
          <p>
            Страницы
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li
              class="nav-item"
              v-for="page in pages"
              :key="page.id"
          >
            <a
                :class="{ active: currentUrl === page.url }"
                :href="page.url" class="nav-link"
            >
              <p>{{ page.title }}</p>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item menu-open">
        <a
            href="#" class="nav-link"
            :class="{ active: ['/backend/coins', '/backend/coins/add'].includes(currentUrl) }"
        >
          <i class="fas fa-coins nav-icon"></i>
          <p>
            Монеты
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a
                class="nav-link"
                href="/backend/coins"
                :class="{ active: currentUrl === '/backend/coins' }"
            >Каталог</a>
          </li>
          <li class="nav-item">
            <a
                class="nav-link"
                href="/backend/coins/add"
                :class="{ active: currentUrl === '/backend/coins/add' }"
            >Добавить монету</a>
          </li>
        </ul>
      </li>
      <li class="nav-item menu-open">
        <a href="#" class="nav-link">
          <i class="far fa-newspaper nav-icon"></i>
          <p>
            Новости
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a
                class="nav-link"
                href="/backend/news"
                :class="{ active: currentUrl === '/backend/news' }"
            >Список статей</a>
          </li>
          <li class="nav-item">
            <a
                class="nav-link"
                href="/backend/news/add"
                :class="{ active: currentUrl === '/backend/news/add' }"
            >Добавить статью</a>
          </li>
        </ul>
      </li>
      <li class="nav-item menu-open">
        <a
            href="#" class="nav-link"
            :class="{ active: ['/backend/banners'].includes(currentUrl) }"
        >
          <i class="far fa-images nav-icon"></i>
          <p>
            Баннеры
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a
                class="nav-link"
                href="/backend/banners"
                :class="{ active: currentUrl === '/backend/banners' }"
            >Список</a>
          </li>
        </ul>
      </li>
      <li class="nav-header text-uppercase">Системное</li>
      <li class="nav-item menu-open">
        <a
            href="#" class="nav-link"
            :class="{ active: ['/backend/settings', '/backend/countries', '/backend/user'].includes(currentUrl) }"
        >
          <i class="fas fa-cog nav-icon"></i>
          <p>
            Настройки
            <i class="fas fa-angle-left right"></i>
          </p>
        </a>
        <ul class="nav nav-treeview">
          <li class="nav-item">
            <a
                class="nav-link"
                href="/backend/settings"
                :class="{ active: currentUrl === '/backend/settings' }"
            >Общие</a>
          </li>
          <li class="nav-item">
            <a
                class="nav-link"
                href="/backend/countries"
                :class="{ active: currentUrl === '/backend/countries' }"
            >Страны</a>
          </li>
          <li class="nav-item">
            <a
                class="nav-link"
                href="/backend/styles"
                :class="{ active: currentUrl === '/backend/styles' }"
            >Стили</a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'MenuSidebar',
  data() {
    return {
      currentUrl: window.location.pathname,
      pages: [
        {
          id: 1,
          title: 'Главная',
          url : '/backend/home/edit'
        },
        {
          id: 2,
          title: 'Почему мы',
          url : '/backend/why-us/edit'
        },
        {
          id: 3,
          title: 'Новости',
          url : '/backend/news/edit'
        },
        {
          id: 4,
          title: 'Вопрос-ответ',
          url : '/backend/questions/edit'
        },
        {
          id: 5,
          title: 'Контакты',
          url : '/backend/contacts/edit'
        },
        {
          id: 6,
          title: '404',
          url : '/backend/404/edit'
        },
      ],
    };
  },
}
</script>
