<template>
  <section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h1>{{ title }}</h1>
        </div>
        <div class="col-sm-6">
          <ol class="breadcrumb float-sm-right">
            <li
                v-for="(link, index) in links"
                :key="index"
                :class="{ active: !link.path }"
                class="breadcrumb-item"
            >
              <a
                  v-if="link.path"
                  @click.prevent="$router.push({ name: link.name })"
                  v-text="link.title"
                  :href="link.path"
              />
              <template v-else>{{ link.title }}</template>
            </li>
          </ol>
        </div>
      </div>
    </div><!-- /.container-fluid -->
  </section>
</template>

<script>
export default {
  name: 'PageHeader',
  props: {
    title: {
      type: String,
      required: true,
    },
    links: {
      type: Array,
      required: true,
    },
  },
}
</script>
