<template>
  <div class="page coin__page page__default">
    <div v-if="coin" class="container">
      <breadcrumbs :links="links" />
      <div class="coin__content">
        <div class="row">
          <div
              v-if="coin.images.filter((image) => image !== '//via.placeholder.com/232x232').length"
              class="col-12 col-lg-3"
          >
            <h1 class="font-weight-bold coin__content-name mt-3 mb-3 d-lg-none">{{ coin.name }}</h1>
            <div class="coin__content-image text-center pt-4 pb-4 d-flex d-lg-block justify-content-around">
              <template
                  v-for="(image, index) in coin.images"
              >
                <div
                    v-if="image !== '//via.placeholder.com/232x232'"
                    :key="index"
                    :class="{ 'mb-lg-4': index === 0 }"
                >
                  <img :src="image" :alt="coin[`image_alt_${index + 1}`]">
                </div>
              </template>
            </div>
          </div>
          <div class="col-12 col-lg-9">
            <div class="coin__content-info mt-3">
              <h1
                  class="font-weight-bold coin__content-name"
                  :class="{ 'd-none d-lg-block': coin.images.filter((image) => image !== '//via.placeholder.com/232x232').length }"
              >{{ coin.name }}</h1>
              <div class="d-md-flex align-items-start border-bottom pb-4 mt-3">
                <ul class="list-unstyled coin__parameters mb-md-0 mr-md-4 pr-md-2">
                  <li v-if="coin.priceBuy" class="d-flex align-items-center mb-1">
                    <div class="coin__parameters-name coin__parameters-name--solid">{{ coin.priceSell ? 'Покупка' : ' Только покупка' }}</div>
                    <div class="coin__parameters-value text-brand-color font-weight-bold">{{ numberFormat(coin.priceBuy, 0) }}&nbsp;₽</div>
                  </li>
                  <li v-if="coin.priceSell" class="d-flex align-items-center">
                    <div class="coin__parameters-name coin__parameters-name--solid">{{ coin.priceBuy ? 'Продажа' : ' Только продажа' }}</div>
                    <div class="coin__parameters-value text-brand-color font-weight-bold">{{ numberFormat(coin.priceSell, 0) }}&nbsp;₽</div>
                  </li>
                </ul>
                <div class="a-tooltip position-relative mt-n1">При объёме операции свыше<br>600 000₽ цена обсуждается</div>
              </div>
              <ul class="list-unstyled coin__parameters border-bottom pb-3 mt-3">
                <li
                    v-for="parameter in parameters"
                    :key="parameter.name"
                    :class="`coin__parameters--${parameter.name}`"
                    class="d-flex align-items-center mb-1"
                >
                  <div
                      class="coin__parameters-name"
                      v-text="parameter.title"
                  />
                  <div
                      class="coin__parameters-value"
                      v-text="`${(!['metal', 'condition'].includes(parameter.name) ? coin[parameter.name]
                      : coin[parameter.name].name)}${!parameter.postfix ? '' : parameter.postfix}`"
                  />
                </li>
              </ul>
              <p
                  v-if="coin.description"
                  class="coin__description"
                  v-html="coin.description"
              />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';
import numberFormat from '../mixins/numberFormat';

import Breadcrumbs from '../layouts/Breadcrumbs';

export default {
  name: 'Coin',
  components: {
    Breadcrumbs,
  },
  data() {
    return {
      links: [
        {
          path: '/',
          name: 'home',
          title: 'Главная',
        },
      ],
      parameters: [
        {
          name: 'metal',
          title: 'Драгоценный металл',
        },
        {
          name: 'weight',
          title: 'Общий вес',
          postfix: 'г',
        },
        {
          name: 'purity',
          title: 'Проба металла',
        },
        {
          name: 'weightPure',
          title: 'Чистого драгметалла',
          postfix: 'г',
        },
        {
          name: 'countryName',
          title: 'Страна эмитент монеты',
        },
        {
          name: 'denomination',
          title: 'Номинал монеты',
        },
        {
          name: 'denominationCurrency',
          title: 'Валюта номинала',
        },
        {
          name: 'year',
          title: 'Год выпуска',
        },
        {
          name: 'diameter',
          title: 'Диаметр',
          postfix: 'мм',
        },
        {
          name: 'thickness',
          title: 'Толщина',
          postfix: 'мм',
        },
        {
          name: 'condition',
          title: 'Качество чеканки монеты',
        },
      ],
      coin: null,
      metaTitle: '',
      metaDescription: '',
    };
  },
  metaInfo () {
    return {
      title: this.metaTitle,
      titleTemplate: '%s | Almiranta.ru',
      meta: [
        {
          vmid: 'description',
          property: 'description',
          content: this.metaDescription,
        },
        {
          vmid: 'og:title',
          property: 'og:title',
          content: this.metaTitle,
          template: '%s - Almiranta.ru',
        },
        {
          vmid: 'og:description',
          property: 'og:description',
          content: this.metaDescription,
        },
      ],
    };
  },
  mounted() {
    const path = window.location.pathname.split('/');
    this.getModel({ tag: 'Coins', method: 'getCoinBySlug',
      id: { slug: path[path.length - 1] } })
        .then((res) => {
          this.coin = res.body;
          this.coin.image_alt_1 = this.getImageAlt(1);
          this.coin.image_alt_2 = this.getImageAlt(2);
          this.metaTitle = this.coin.metaTitle;
          this.metaDescription = this.coin.metaDescription;
          this.links.push({ title: this.coin.name });
        });
  },
  methods: {
    ...mapActions([
      'getModel',
    ]),
    numberFormat,
    getImageAlt(imageNumber) {
      if (this.coin.image_object) {
        const image = this.coin.image_object.find((item) => item.name === `alt_${imageNumber}`);
        if (image) {
          return image.value;
        }
      }
      return '';
    },
  },
}
</script>
