<template>
    <div class="page home__page">
      <banners :banners="banners" />
      <div class="container">
        <div v-if="coins.length" class="coins row">
          <div
              v-for="coin in coins"
              :key="coin.id"
              class="col-6 col-lg-4 col-xl-3 coin__wrap align-items-stretch"
          >
            <coin :coin="coin" />
          </div>
        </div>
        <div v-else class="coins row">
          <div
              v-for="number in coinsTotal"
              :key="number"
              class="col-6 col-lg-4 col-xl-3 coin__wrap align-items-stretch"
          >
            <coin-template />
          </div>
        </div>
        <template v-if="newsTotal">
          <div v-if="newsPage && news.length" class="news row mt-5">
            <div class="col-12 d-flex align-items-end justify-content-between news__header mb-4">
              <h3 class="mb-0" v-text="newsPage.json_body.title" />
              <a class="text-brand-color font-weight-bold" :href="`${newsPage.slug}`">Все новости</a>
            </div>
            <div
                v-for="article in news"
                :key="article.id"
                class="col-12 col-md-4 article__wrap mb-4 mb-lg-0"
            >
              <news-article :article="article" />
            </div>
          </div>
          <div v-else class="news row mt-5">
            <div class="col-12 d-flex align-items-end justify-content-between news__header mb-4">
              <h3 class="mb-0">Новости</h3>
              <a class="text-brand-color font-weight-bold" href="#">Все новости</a>
            </div>
            <div
                v-for="article in newsTotal"
                :key="article"
                class="col-12 col-md-4 article__wrap mb-4 mb-lg-0"
            >
              <news-article-template />
            </div>
          </div>
        </template>
        <div class="position-relative">
          <div id="questions" class="questions-label position-absolute"></div>
        </div>
        <faq
            v-if="questionsPage && questionsPage.json_body.questions.length"
            :title="questionsPage.json_body.title"
            :questions="questionsPage.json_body.questions"
        />
        <div v-else class="text-center row mt-5 faq loading">
          <div class="col-12 pt-5">
            <div class="spinner-border mt-3" role="status">
              <span class="sr-only">Загрузка...</span>
            </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import Banners from '../components/Banners'
import Coin from '../components/Coin'
import CoinTemplate from '../components/CoinTemplate'
import NewsArticle from '../components/NewsArticle'
import NewsArticleTemplate from '../components/NewsArticleTemplate';
import Faq from '../components/Faq'

export default {
  name: 'Home',
  components: {
    NewsArticleTemplate,
    Banners,
    Coin,
    CoinTemplate,
    NewsArticle,
    Faq,
  },
  data() {
    return {
      banners: [],
      coins: [],
      news: [],
    };
  },
  computed: {
    ...mapState({
      pages: (state) => state.pages,
    }),
    newsPage() {
      return this.pages.find((page) => page.id === 3);
    },
    questionsPage() {
      return this.pages.find((page) => page.id === 4);
    },
    coinsTotal() {
      return window.coinsTotal || 0;
    },
    newsTotal() {
      return window.newsTotal || 0;
    },
  },
  mounted() {
    this.getModels({ tag: 'Banners', method: 'getBannersList',
      data: { isActiveOnly: true, orderField: 'order' } })
        .then((res) => {
          this.banners = res.body;
        });
    this.getModels({ tag: 'Coins', method: 'getCoinsList',
      data: { isActiveOnly: true, limit: 0, orderField: 'order' } })
        .then((res) => {
          this.coins = res.body.coins;
        });
    this.getModels({ tag: 'News', method: 'getNewsList',
      data: { isActiveOnly: true, limit: 3 } })
        .then((res) => {
          this.news = res.body.news;
        });
  },
  methods: {
    ...mapActions([
      'getModels',
    ]),
  },
}
</script>
