<template>
  <div class="page news__page page__default">
    <div v-if="article" class="container pb-5">
      <breadcrumbs :links="links" />
      <div class="page__content mx-auto">
        <h1 class="font-weight-bold mb-2 mt-4 mt-md-0">{{ article.name }}</h1>
        <p class="text-gray news__page-date">{{ formatDate(article.releasedAt) }}</p>
        <div class="mb-3"><img class="w-100" :src="article.image" :alt="article.name"></div>
        <div
            class="news__page-description"
            v-html="article.text"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from 'vuex';

import Breadcrumbs from '../layouts/Breadcrumbs';

export default {
  name: 'NewsArticle',
  components: {
    Breadcrumbs,
  },
  data() {
    return {
      links: [
        {
          path: '/',
          name: 'home',
          title: 'Главная',
        },
        {
          path: '/novosti',
          name: 'news',
          title: 'Новости',
        },
      ],
      article: null,
      metaTitle: '',
      metaDescription: '',
    };
  },
  metaInfo () {
    return {
      title: this.metaTitle,
      titleTemplate: '%s | Almiranta.ru',
      meta: [
        {
          vmid: 'description',
          property: 'description',
          content: this.metaDescription,
        },
        {
          vmid: 'og:title',
          property: 'og:title',
          content: this.metaTitle,
          template: '%s - Almiranta.ru',
        },
        {
          vmid: 'og:description',
          property: 'og:description',
          content: this.metaDescription,
        },
      ],
    };
  },
  mounted() {
    const path = window.location.pathname.split('/');
    this.getModel({ tag: 'News', method: 'getNewsArticleBySlug',
      id: { slug: path[path.length - 1] } })
        .then((res) => {
          this.article = res.body;
          this.metaTitle = this.article.metaTitle;
          this.metaDescription = this.article.metaDescription;
          this.links.push({ title: this.article.name });
        });
  },
  methods: {
    ...mapActions([
      'getModel',
    ]),
    formatDate(date) {
      let formattedDate = date.split(' ');
      return `${formattedDate[0].split('-').reverse().join('.')} г. ${formattedDate[1]}`;
    },
  },
}
</script>
