<template>
  <div class="page news__page page__default">
    <div v-if="newsPage && newsPage.json_body" class="container">
      <breadcrumbs :links="breadcrumbs" />
      <div class="page__content">
        <h1 class="font-weight-bold mb-3 mt-4 mt-md-0">{{ newsPage.json_body.title }}</h1>
      </div>
      <div v-if="news.length" class="news row">
        <div
            v-for="(article, index) in news"
            :key="index"
            class="col-12 col-md-4 article__wrap mb-4"
        >
          <news-article :article="article" />
        </div>
      </div>
      <div v-else class="text-center row mt-5 faq loading">
        <div class="col-12 pt-5">
          <div class="spinner-border mt-3" role="status">
            <span class="sr-only">Загрузка...</span>
          </div>
        </div>
      </div>
      <pagination
          v-if="news.length"
          @change-page="changePage"
          :page="page"
          :limit="limit"
          :count="news.length"
          :total="nofTotal"
      />
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import Breadcrumbs from '../layouts/Breadcrumbs';
import NewsArticle from '../components/NewsArticle'
import Pagination from '../components/Pagination'
import Logo from '../layouts/Logo';

export default {
  name: 'News',
  components: {
    Breadcrumbs,
    NewsArticle,
    Pagination,
    Logo,
  },
  data() {
    return {
      news: [],
      page: 1,
      limit: 12,
      nofTotal: 0,
    };
  },
  computed: {
    ...mapState({
      newsPage: (state) => state.page,
      breadcrumbs: (state) => state.breadcrumbs,
    }),
  },
  mounted() {
    this.getNews();
  },
  methods: {
    ...mapActions([
        'getModels',
    ]),
    getNews() {
      return this.getModels({ tag: 'News', method: 'getNewsList',
        data: { isActiveOnly: true, page: this.page, limit: this.limit } })
          .then((res) => {
            this.news = res.body.news;
            this.page = res.body.page;
            this.limit = res.body.limit;
            this.nofTotal = res.body.nofTotal;
          });
    },
    changePage(page) {
      this.page = page;
      this.getNews().then(() => {
        window.scrollTo(0, 0);
      });
    },
  },
}
</script>
