<template>
  <div class="not-found text-center row mt-5">
    <div class="col-12 pt-4">
      <div class="spinner-border" role="status">
        <span class="sr-only">Загрузка...</span>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: 'PageNotFound',
  created() {
    window.location.href = '/';
  },
}
</script>
