<template>
  <div>
    <component v-if="currentComponent" v-bind:is='currentComponent' />
    <div v-else class="default text-center row mt-5">
      <div class="col-12 pt-4">
        <div class="spinner-border" role="status">
          <span class="sr-only">Загрузка...</span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

const pages = [
  {
    id: 1,
    name: 'Home',
    component: () => import('./Home')
  },
  {
    id: 2,
    name: 'WhyUs',
    component: () => import('./WhyUs')
  },
  {
    id: 3,
    name: 'News',
    component: () => import('./News')
  },
  {
    id: 5,
    name: 'Contacts',
    component: () => import('./Contacts')
  },
];

export default {
  name: 'PageDefault',
  computed: {
    ...mapState({
      page: (state) => state.page,
    }),
    currentComponent() {
      if (this.page) {
        const page = pages.find((page) => page.id === this.page.id);
        if (page) {
          return page.component;
        }
        window.location.href = '/';
      }
    },
  },
}
</script>
