<template>
  <div class="page questions__page page__default">
    <div v-if="page && page.json_body" class="container pb-5">
      <breadcrumbs :links="breadcrumbs" />
      <div class="page__content">
        <h1 class="font-weight-bold mt-4 mt-md-0 mb-n3">{{ page.json_body.title }}</h1>
      </div>
      <faq :title="page.json_body.title" :questions="page.json_body.questions" />
    </div>
  </div>
</template>

<script>
import { mapState } from "vuex";

import Breadcrumbs from '../layouts/Breadcrumbs';
import Faq from '../components/Faq';

export default {
  name: 'Questions',
  components: {
    Breadcrumbs,
    Faq,
  },
  computed: {
    ...mapState({
      page: (state) => state.page,
      breadcrumbs: (state) => state.breadcrumbs,
    }),
  },
}
</script>
