<template>
  <div class="page why-us__page page__default">
    <div v-if="page && page.json_body" class="container">
      <breadcrumbs :links="breadcrumbs" />
      <div class="page__content">
        <div class="d-lg-flex">
          <div>
            <h1 class="font-weight-bold mb-3 mt-4 mt-md-0">{{ page.json_body.title }}</h1>
            <div v-html="page.json_body.text" />
          </div>
          <div class="ml-5 pl-4 d-none d-lg-block"><img src="/storage/pages/why-us.png" alt="почему мы"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import Breadcrumbs from '../layouts/Breadcrumbs';

export default {
  name: 'WhyUs',
  components: {
    Breadcrumbs,
  },
  computed: {
    ...mapState({
      page: (state) => state.page,
      breadcrumbs: (state) => state.breadcrumbs,
    }),
  },
}
</script>
