<template>
  <div id="carousel" class="carousel slide carousel-fade bg-brand-color" data-ride="carousel">
    <div class="carousel-inner container">
      <div
          v-for="(banner, index) in banners"
          :key="banner.id"
          :class="index === 0 ? 'active' : ''"
          class="carousel-item"
      >
        <div
            class="slide-wrap d-flex align-items-center text-center text-lg-left justify-content-center justify-content-lg-start"
            :style="`background-image:url(${banner.image}`"
        >
          <h2
              class="text-white text-uppercase font-weight-normal mb-0"
              v-html="banner.title"
          />
        </div>
      </div>
      <div class="rates ml-auto d-none d-lg-block"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Banners',
  props: {
    banners: {
      type: Array,
      required: true,
    },
  },
  mounted() {
    let script = document.createElement('script');
    script.setAttribute('src', 'https://s3.tradingview.com/external-embedding/embed-widget-mini-symbol-overview.js');
    script.innerHTML = '{"symbol": "FX_IDC:XAUUSD","width": 325,"height": 167,"locale": "ru","dateRange": "12M","colorTheme": "light","trendLineColor": "rgba(41, 98, 255, 1)","underLineColor": "rgba(73, 133, 231, 0.3)","underLineBottomColor": "rgba(41, 98, 255, 0)","isTransparent": false,"autosize": false,"largeChartUrl": ""}';
    document.querySelector('.rates').appendChild(script);

    $(this.$el).carousel({
      interval: 4000,
    });
  },
};
</script>
