<template>
  <div
      :class="className"
      class="coin"
  >
    <a
        class="coin__image d-block text-center"
        :href="`/moneta/${coin.slug || coin.id}`"
    >
      <img :src="coin.images[0]" :alt="image_alt_1">
    </a>
    <p class="coin__name font-weight-bold">
      <a
          class="text-main"
          :title="coin.name"
          v-text="stringShortener(coin.name, 65)"
          :href="`/moneta/${coin.slug || coin.id}`"
      />
    </p>
    <div class="coin__info d-flex align-items-center justify-content-between mt-auto">
      <div class="order-0">
        <span class="text-gray d-block">Металл</span>
        <p
            :title="coin.name"
        >
          {{ stringShortener(coin.metal.name, 8, 8) }}
        </p>
      </div>
      <div class="order-1">
        <span class="text-gray d-block">Проба</span>
        <p>{{ coin.purity }}</p>
      </div>
      <div class="order-3 order-md-2">
        <span class="text-gray d-block">Вес</span>
        <p>{{ numberFormat(coin.weightPure) }}</p>
      </div>
      <div class="order-2 order-md-3">
        <span class="text-gray d-block">Год выпуска</span>
        <p v-html="year"/>
      </div>
    </div>
    <div
        class="coin__price d-flex align-items-center justify-content-between"
        :class="{ 'strict-height': !coin.priceBuy && !coin.priceSell }"
    >
      <div v-if="coin.priceBuy" class="coin__price-buy">
        <span class="text-gray d-block font-weight-normal">{{ coin.priceSell ? 'Покупка' : ' Только покупка' }}:</span>
        <p>{{ numberFormat(coin.priceBuy, 0) }}&nbsp;₽</p>
      </div>
      <div
          class="coin__price-sell d-flex"
          :class="{ 'coin__price-sell--empty-price': !coin.priceSell }"
      >
        <div v-if="coin.priceSell" >
          <span class="text-gray d-block font-weight-normal">{{ coin.priceBuy ? 'Продажа' : ' Только продажа' }}:</span>
          <p>{{ numberFormat(coin.priceSell, 0) }}&nbsp;₽</p>
        </div>
        <a
            v-if="coin.nofMinDiscussPrice && coin.nofMinDiscussPrice > 0"
            @click.prevent
            href="#"
        >
          <div class="a-tooltip">При объёме операции свыше<br>{{ numberFormat(coin.nofMinDiscussPrice, 0) }}₽ цена обсуждается</div>
        </a>
      </div>
    </div>
  </div>
</template>

<script>
import stringShortener from '../mixins/stringShortener';
import numberFormat from '../mixins/numberFormat';

export default {
  name: 'Coin',
  props: {
    coin: {
      type: Object,
      required: true,
    },
    className: {
      type: String,
      default: '',
    },
  },
  data() {
    return {
      image_alt_1: '',
      image_alt_2: '',
    };
  },
  computed: {
    year() {
      if (this.coin.periodFrom && this.coin.periodTo) {
        return `${this.coin.periodFrom}-${this.coin.periodTo}г.`;
      } else if (this.coin.year) {
        return `${this.coin.year}г.`;
      }
      return 'Не задано';
    },
  },
  mounted() {
    this.image_alt_1 = this.getImageAlt(1);
    this.image_alt_2 = this.getImageAlt(2);
  },
  methods: {
    stringShortener,
    numberFormat,
    showTooltip(e) {
      const element = e.target;
      const tooltip = element.querySelector('.a-tooltip');
      if (!tooltip) {
        element.innerHTML = `<div class="a-tooltip">${element.dataset.tooltip}</div>`;
      }
    },
    hideTooltip(e) {
      const element = e.target;
      element.innerHTML = '';
    },
    getImageAlt(imageNumber) {
      if (this.coin.image_object) {
        const image = this.coin.image_object.find((item) => item.name === `alt_${imageNumber}`);
        if (image) {
          return image.value;
        }
      }
      return '';
    },
  },
}
</script>
