<template>
  <div class="coin coin__template">
    <a class="coin__image d-block text-center strict-height" href="#" />
    <p class="coin__name font-weight-bold strict-height" />
    <div class="coin__info d-flex align-items-center justify-content-between mt-auto strict-height">
      <p class="w-100" />
    </div>
    <div class="coin__price d-flex align-items-center justify-content-between strict-height" />
  </div>
</template>

<script>
export default {
  name: 'CoinTemplate',
}
</script>
