<template>
  <div class="row mt-5 faq">
    <div class="col-12">
      <h3 class="mb-4" v-text="title" />
    </div>
    <div
        class="col-12 faq__item mb-3"
        :class="`faq__item-${index + 1} ${answers.includes(index) ? 'faq__item--open' : ''}`"
        v-for="(question, index) in questionsSorted"
    >
      <p class="faq__question mb-2">
        <a
            class="text-main d-flex align-items-center justify-content-between"
            @click.prevent="showAnswer(index)"
            href="#"
            v-text="question.question"
        />
      </p>
      <div class="faq__answer">
        <div v-html="question.answer" />
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Faq',
  props: {
    title: {
      type: String,
      required: true,
    },
    questions: {
      type: Array,
      required: true,
    },
  },
  data() {
    return {
      answers: [],
    };
  },
  computed: {
    questionsSorted() {
      return this.questions.sort((a, b) => a.order - b.order);
    },
  },
  mounted() {
    if (window.location.hash === '#questions' && this.questions.length) {
      document.getElementById('questions').scrollIntoView({ behavior: 'smooth' });
    }
  },
  methods: {
    showAnswer(index) {
      const element = $(`.faq__item-${index + 1} .faq__answer`);
      if (this.answers.includes(index)) {
        this.answers = this.answers.filter((answer) => answer !== index);
        element.css('height', 0);
      } else {
        this.answers.push(index);
        const height = $('div', element).outerHeight();
        element.css('height', height);
      }
    },
  },
}
</script>
