<template>
  <div class="article article__template">
    <a class="article__image d-block position-relative mb-3" href="#" />
    <a class="article__title font-weight-bold text-main mb-2 pb-1" href="#" />
    <p class="article__text" />
    <p class="article__date text-light-gray" />
  </div>
</template>

<script>
export default {
  name: 'NewsArticleTemplate',
}
</script>
