<template>
  <div class="article">
    <a
        class="article__image d-block position-relative mb-3"
        :href="`/novosti/${article.slug || article.id}`"
    >
      <img
          class="w-100"
          :src="article.image"
          :alt="imageAlt"
      >
    </a>
    <a
        class="article__title font-weight-bold text-main mb-2 pb-1"
        :href="`/novosti/${article.slug || article.id}`"
        v-text="stringShortener(article.name, 78, 78)"
    />
    <p
        class="article__text"
        v-html="article.shortText"
    />
    <p
        class="article__date text-light-gray"
        v-html="formatDate(article.releasedAt)"
    />
  </div>
</template>

<script>
import stringShortener from '../mixins/stringShortener';

export default {
  name: 'NewsArticle',
  props: {
    article: {
      type: Object,
      required: true,
    },
  },
  computed: {
    imageAlt() {
      if (this.article.image_object) {
        const image = this.article.image_object.find((item) => item.name === 'alt');
        if (image) {
          return image.value;
        }
      }
      return '';
    },
  },
  methods: {
    stringShortener,
    formatDate(date) {
      let formattedDate = date.split(' ');
      return formattedDate[0].split('-').reverse().join('.')  + ' г.';
    },
  },
}
</script>
