<template>
  <nav class="mt-4 pt-2 pb-5" aria-label="Page navigation">
    <ul class="pagination justify-content-center">
      <li
          :class="{ disabled: page === 1 }"
          class="page-item pagination-start"
      >
        <a
            class="page-link"
            href="#"
            @click.prevent="changePage(page - 1)"
        >Назад</a>
      </li>
      <li
          v-for="pageNumber in numberOfPages"
          :key="pageNumber"
          :class="{ active: pageNumber === page }"
          class="page-item"
      >
        <a
            v-if="pageNumber !== page"
            class="page-link"
            href="#"
            v-text="pageNumber"
            @click.prevent="changePage(pageNumber)"
        />
        <span
            v-else
            class="page-link"
            v-text="pageNumber"
        />
      </li>
      <li
          :class="{ disabled: page === numberOfPages }"
          class="page-item pagination-end"
      >
        <a
            class="page-link"
            href="#"
            @click.prevent="changePage(page + 1)"
        >Вперед</a>
      </li>
    </ul>
  </nav>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    page: {
      type: Number,
      required: true,
    },
    limit: {
      type: Number,
      required: true,
    },
    count: {
      type: Number,
      required: true,
    },
    total: {
      type: Number,
      required: true,
    },
  },
  computed: {
    numberOfPages() {
      return Math.ceil(this.total / this.limit);
    },
  },
  methods: {
    changePage(page) {
      this.$emit('change-page', page);
    },
  },
}
</script>
