<template>
  <div class="rates-stock">
    <component
        v-if="script"
        is="script"
        src="https://s3.tradingview.com/external-embedding/embed-widget-ticker-tape.js"
        async
        v-html="script"
    />
  </div>
</template>

<script>
// import { mapState } from 'vuex';

export default {
  name: 'RatesWidget',
  props: {
    script: {
      type: String,
      required: true,
    },
  },
  // computed: {
  //   ...mapState({
  //     settings: (state) => state.settings,
  //   }),
  //   script() {
  //     if (Object.values(this.settings).length) {
  //       return this.settings.find((item) => item.name === 'rates').json_body.script;
  //     }
  //     return '';
  //   },
  // },
}
</script>
