<template>
  <div class="content-wrapper">
    <page-header
        :title="title"
        :links="links"
    />
    <section class="content content-editor">
      <div v-if="Object.keys(properties).length && banners" class="row">
        <div class="col-md-8">
          <div
              v-for="(banner, index) in banners"
              :key="index"
              class="card"
          >
            <div class="card-header">
              <h3 class="card-title">Баннер №{{ index + 1 }}</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label :for="`title-${index + 1}`">Заголовок на баннере</label>
                <input
                    v-model="banners[index].title"
                    :id="`title-${index + 1}`"
                    type="text"
                    class="form-control"
                >
              </div>
              <div class="form-group" v-if="!disabledFields.includes('text')">
                <label :for="`text-${index + 1}`">Текст на баннере</label>
                <input
                    v-model="banners[index].text"
                    :id="`title-${index + 1}`"
                    type="text"
                    class="form-control"
                >
              </div>
              <div class="form-group">
                <label>Картинка</label>
                <image-upload
                    :data="banner"
                    property-name="banner"
                    :source="banner.image"
                    type="banners"
                />
              </div>
              <div class="form-group" v-if="!disabledFields.includes('alt')">
                <label :for="`alt-${index + 1}`">Alt картинки</label>
                <input
                    v-model="banners[index].alt"
                    :id="`alt-${index + 1}`"
                    type="text"
                    class="form-control"
                >
              </div>
              <div class="form-group" v-if="!disabledFields.includes('url')">
                <label :for="`url-${index + 1}`">Ссылка на страницу</label>
                <input
                    v-model="banners[index].url"
                    :id="`url-${index + 1}`"
                    type="text"
                    class="form-control"
                >
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between order-wrap">
                <div class="form-group">
                  <label :for="`order-${index + 1}`">Порядковый номер</label>
                  <input
                      v-model="banners[index].order"
                      :id="`order-${index + 1}`"
                      type="number"
                      class="form-control"
                      placeholder="Номер вывода"
                      min="0"
                  >
                </div>
                <div class="custom-control custom-switch d-flex align-items-center">
                  <input
                      v-model="banners[index].isActive"
                      type="checkbox"
                      class="custom-control-input"
                      :id="`active-${index + 1}`"
                  >
                  <label class="custom-control-label" :for="`active-${index + 1}`">
                    <template v-if="!banners[index].isActive">Неактивен</template>
                    <template v-else>Активен</template>
                  </label>
                </div>
                <div>
                  <button class="btn btn-danger mr-3" @click="showDeleteConfirmModal(banner)">Удалить</button>
                  <save-button :loading="loadingButtons.includes('save')" @click="save(banner)" text="Сохранить" className="btn-success" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Добавить баннер</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="title-new">Заголовок</label>
                <input
                    v-model="formData.title"
                    type="text"
                    class="form-control"
                    id="title-new"
                    placeholder="Заголовок на баннере"
                >
              </div>
              <div class="form-group" v-if="!disabledFields.includes('text')">
                <label for="text-new">Текст</label>
                <input
                    v-model="formData.text"
                    id="text-new"
                    type="text"
                    class="form-control"
                    placeholder="Текст на баннере"
                >
              </div>
              <div class="form-group">
                <label>Картинка</label>
                <span class="d-block mb-1" v-text="'Требования: размер не меньше 343x149 и не больше 500x500'" />
                <image-upload
                    :data="formData"
                    property-name="banner"
                    type="banners"
                />
              </div>
              <div class="form-group" v-if="!disabledFields.includes('alt')">
                <label for="alt-new">Alt</label>
                <input
                    v-model="formData.alt"
                    id="alt-new"
                    type="text"
                    class="form-control"
                    placeholder="Alt картинки"
                >
              </div>
              <div class="form-group" v-if="!disabledFields.includes('url')">
                <label for="url-new">Ссылка</label>
                <input
                    v-model="formData.url"
                    id="url-new"
                    type="text"
                    class="form-control"
                    placeholder="Ссылка на страницу"
                >
              </div>
              <div class="form-group">
                <label for="order-new">Порядковый номер</label>
                <input
                    v-model="formData.order"
                    id="order-new"
                    type="number"
                    class="form-control"
                    placeholder="Номер вывода"
                    min="0"
                >
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between">
                <div class="custom-control custom-switch d-flex align-items-center">
                  <input
                      v-model="formData.isActive"
                      type="checkbox"
                      class="custom-control-input"
                      id="active-new"
                  >
                  <label class="custom-control-label" for="active-new">
                    <template v-if="!formData.isActive">Неактивен</template>
                    <template v-else>Активен</template>
                  </label>
                </div>
                <save-button :loading="loadingButtons.includes('add')" @click="add" text="Добавить" className="btn-primary d-flex align-items-center" />
              </div>
            </div>
          </div>

          <div v-if="Object.values(errors).length">
            <template
                v-for="errorItem in errors"
            >
              <div
                  v-for="(error, errorIndex) in errorItem"
                  :key="errorIndex"
                  class="error invalid-feedback d-block mt-1"
                  v-html="error"
              />
            </template>
          </div>
        </div>
      </div>
      <div v-else class="text-center pt-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Загрузка...</span>
        </div>
      </div>
    </section>
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-danger">
          <div class="modal-header">
            <h4 class="modal-title">Подтвердить удаление</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Вы действительно хотите удалить?</p>
            <p>{{ `Вопрос: ${modal.name}` }}</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal">Закрыть</button>
            <button @click="deleteItem" type="button" class="btn btn-outline-light">Удалить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';

import PageHeader from '../layouts/PageHeader';
import ImageUpload from '../components/ImageUpload';
import toastr from "../plugins/toastr.min";

export default {
  name: 'Banners',
  components: {
    PageHeader,
    ImageUpload,
  },
  data() {
    return {
      title: 'Список баннеров',
      links: [
        {
          title: 'Главная',
          name: 'home',
          path: '/backend',
        },
        {
          title: 'Баннеры',
        },
      ],
      banners: null,
      modal: {
        id: 0,
        name: '',
      },
      formData: {
        title: '',
        text: '',
        alt: '',
        url: '',
        isActive: false,
        order: 0,
      },
      disabledFields: [
          'text',
          'alt',
          'url',
      ],
      loadingButtons: [],
      errors: {},
    };
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      properties: (state) => state.properties,
    }),
  },
  mounted() {
    this.getProperties('Banner');
    this.get();
  },
  methods: {
    ...mapActions([
      'getProperties',
      'getModels',
      'addModel',
      'updateModel',
      'deleteModel',
    ]),
    get() {
      this.banners = [];
      this.formData = {
        title: '',
        text: '',
        alt: '',
        url: '',
        isActive: false,
        order: 0,
      };
      this.getModels({ tag: 'Banners', method: 'getBannersList', data: { isActiveOnly: true, orderField: 'order' } })
          .then((res) => {
            if (res.ok) {
              this.banners = res.body;
            }
          });
    },
    add() {
      this.errors = {};
      const data = {...this.formData};
      this.loadingButtons.push('add');
      this.addModel({ tag: 'Banners', method: 'addBanner', data })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              this.get();
            }
          }).catch((errors) => {
            toastr.error('Ошибка валидации формы!');
            console.log(errors);
            this.errors = errors.response.body.errors;
          }).finally(() => {
            this.loadingButtons = [];
          });
    },
    save(banner) {
      this.errors = {};
      this.loadingButtons.push('save');
      const data = {...banner};
      data._method = 'PATCH';
      this.updateModel({ tag: 'Banners', method: 'updateBanner', id: { bannerId: data.id }, data })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              this.get();
            }
          }).catch((errors) => {
            toastr.error('Ошибка валидации формы!');
            this.errors = errors.response.body.errors;
          }).finally(() => {
            this.loadingButtons = [];
          });
    },
    showDeleteConfirmModal(banner) {
      $('#confirmDeleteModal').modal('show');
      this.modal.id = banner.id;
      this.modal.name = banner.title;
    },
    deleteItem() {
      this.deleteModel({ tag: 'Banners', method: 'deleteBanner', id: { bannerId: this.modal.id } })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              this.get();
            }
          }).catch((errors) => {
            toastr.error('Не удалось удалить баннер!');
          }).finally(() => {
            $('#confirmDeleteModal').modal('hide');
          });
    },
  },
}
</script>
