<template>
  <div class="content-wrapper">
    <page-header
        :title="title"
        :links="links"
    />
    <section class="content">
      <table v-if="!loading"  id="table" class="table table-striped table-bordered table-hover" style="width:100%">
        <thead>
        <tr>
          <th
              v-for="column in columns"
              :key="column.name"
              v-text="column.title"
          />
        </tr>
        </thead>
        <tbody>
        <tr
            v-for="item in coins"
            :key="item.id"
        >
          <td
              v-for="column in columns"
              :key="column.name"
              :data-order="column.name !== 'updated_at' ? null : dateFormat(item[column.name], 'YYYY-MM-DD HH:mm:ss')"
          >
            <template v-if="!['img', 'edit', 'delete', 'isActive'].includes(column.name)">
              <template v-if="column.name === 'updated_at'">{{ dateFormat(item[column.name]) }}</template>
              <template v-else-if="['priceBuy', 'priceSell'].includes(column.name)">{{ numberFormat(item[column.name], 0) }}&nbsp;₽</template>
              <template v-else>{{ item[column.name] }}</template>
            </template>
            <template v-else-if="column.name === 'isActive'">
              <a
                  href="#"
                  @click.prevent="item.isActive = !item.isActive; save(item.id)"
                  class="text-center d-block"
                  :class="item[column.name] ? 'text-success' : 'text-danger'"
              ><i class="fas fa-power-off"></i></a>
            </template>
            <template v-else-if="column.name === 'edit'">
              <a :href="`/backend/coins/${item.id}/edit`"><i class="far fa-edit"></i></a>
            </template>
            <template v-else-if="column.name === 'delete'">
              <a
                  href="#"
                  @click.prevent="showDeleteConfirmModal(item)"
                  class="text-danger"><i class="far fa-trash-alt"></i></a>
            </template>
            <template v-else><img width="100" :src="item.images[0] + '?hash=' + Math.floor(Math.random() * (100000 - 1 + 1)) + 1" alt=""></template>
          </td>
        </tr>
        </tbody>
      </table>
      <div v-else class="text-center pt-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Загрузка...</span>
        </div>
      </div>
    </section>
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-danger">
          <div class="modal-header">
            <h4 class="modal-title">Подтвердить удаление</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Вы действительно хотите удалить?</p>
            <p>{{ `ID: ${modal.id}` }}</p>
            <p>{{ `Название: ${modal.name}` }}</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal">Закрыть</button>
            <button @click="deleteItem" type="button" class="btn btn-outline-light">Удалить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import toastr from '../plugins/toastr.min';
import numberFormat from '../../../js/mixins/numberFormat';
import moment from 'moment/moment';
require('moment/locale/ru');

import PageHeader from '../layouts/PageHeader';

export default {
  name: 'Coins',
  components: {
    PageHeader,
  },
  data() {
    return {
      title: 'Каталог монет',
      links: [
        {
          title: 'Главная',
          name: 'home',
          path: '/backend',
        },
        {
          title: 'Каталог',
        },
      ],
      columns: [
        {
          name: 'id',
          title: 'ID',
        },
        {
          name: 'name',
          title: 'Название',
        },
        {
          name: 'img',
          title: 'Картинка',
        },
        {
          name: 'priceBuy',
          title: 'Покупка',
        },
        {
          name: 'priceSell',
          title: 'Продажа',
        },
        {
          name: 'isActive',
          title: 'Включено',
        },
        {
          name: 'updated_at',
          title: 'Обновлено',
        },
        {
          name: 'edit',
          title: ''
        },
        {
          name: 'delete',
          title: ''
        },
      ],
      coins: [],
      table: null,
      dataTableOptions : {
        // searching : false,
        columnDefs: [
          { orderable: false, targets: [2, 3, 4, 5, 7, 8] }
        ],
        order: [[0, 'asc']],
        paging       : true,
        info         : false,
        pageLength   : 50,
        lengthChange : false,
        language     : window.dtTranslations
      },
      modal: {
        id: 0,
        name: '',
      },
    };
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
    }),
  },
  mounted() {
    this.get();
  },
  methods: {
    ...mapActions([
      'getModels',
      'updateModel',
      'deleteModel',
    ]),
    numberFormat,
    showDeleteConfirmModal(coin) {
      $('#confirmDeleteModal').modal('show');
      this.modal.id = coin.id;
      this.modal.name = coin.name;
    },
    dateFormat(date, format = 'DD.MM.YYYY HH:mm:ss') {
      return moment(date).format(format);
    },
    get() {
      $('#table').DataTable().destroy();
      this.getModels({ tag: 'Coins', method: 'getCoinsList', data: { limit: 0 } })
          .then((res) => {
            if (res.ok) {
              this.coins = res.body.coins;
            }
          }).finally(() => {
            this.table = $('#table').DataTable(this.dataTableOptions);
          });
    },
    save(id) {
      const coin = this.coins.find(item => item.id === id);
      this.updateModel({ tag: 'Coins', method: 'updateCoin', id: { coinId: id }, data: { id, isActive: coin.isActive } })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              // this.get();
            }
          }).catch((errors) => {
            this.get();
            toastr.error('Ошибка валидации формы!');
          });
    },
    deleteItem() {
      this.deleteModel({ tag: 'Coins', method: 'deleteCoin', id: { coinId: this.modal.id } })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              this.get();
            }
          }).catch((errors) => {
            toastr.error('Не удалось удалить монету!');
          }).finally(() => {
            $('#confirmDeleteModal').modal('hide');
          });
    },
  },
}
</script>
