<template>
  <div class="content-wrapper">
    <page-header
        :title="title"
        :links="links"
    />
    <section class="content content-editor">
      <div v-if="Object.keys(properties).length && coin" class="row">
        <div class="col-md-6 col-xl-8 form-horizontal">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Общая информация</h3>
            </div>
            <div class="card-body">
              <p v-if="coin.id" class="h4 mb-3 font-weight-bold">ID: {{ coin.id }}</p>
              <form-spec
                  :properties-allowed="propertiesAllowed"
                  :properties="properties"
                  :data="coin"
                  :selects="selects"
                  :errors="errors"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4 form-horizontal label-nowrap">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Статус и Изображения</h3>
            </div>
            <div class="card-body">
              <form-spec
                  :properties-allowed="propertiesAllowedMedia"
                  :properties="properties"
                  :data="coin"
                  :errors="errors"
                  image-type="coins"
              />
              <div class="form-group row">
                <label for="image-alt-1">alt первой картинки</label>
                <input id="image-alt-1" v-model="imageAlt_1" class="form-control" type="text" maxlength="255">
              </div>
              <div class="form-group row">
                <label for="image-alt-2">alt второй картинки</label>
                <input id="image-alt-2" v-model="imageAlt_2" class="form-control" type="text" maxlength="255">
              </div>
            </div>
          </div>
          <div class="card card-secondary mt-4 form-column">
            <div class="card-header">
              <h3 class="card-title">Мета теги</h3>
            </div>
            <div class="card-body">
              <form-spec
                  :properties-allowed="propertiesAllowedMeta"
                  :properties="properties"
                  :data="coin"
                  :errors="errors"
              />
              <div class="form-group row">
                <label for="og-title" class="col-sm-2 col-form-label">og:title</label>
                <input id="og-title" v-model="metaTags.ogTitle" class="form-control" type="text" maxlength="255">
              </div>
              <div class="form-group row">
                <label for="og-description" class="col-sm-2 col-form-label">og:description</label>
                <textarea id="og-description" v-model="metaTags.ogDescription" class="form-control"></textarea>
              </div>
              <div class="form-group row">
                <label for="og-title" class="col-sm-2 col-form-label">og:image</label>
                <p v-if="!coin.id" class="font-weight-bold pl-2 text-danger">Доступно после добавления</p>
                <image-upload
                    property-name="ogImage"
                    :source="metaTags.ogImage"
                    :data="{ id: coin.id }"
                    type="og-image"
                    image-name="ogImage"
                    :show-upload-button="!!coin.id"
                    @paths="getPaths"
                />
              </div>
              <div class="form-group row">
                <label for="og-image-width" class="col-sm-2 col-form-label">og:image:width</label>
                <input id="og-image-width" v-model="metaTags.ogImageWidth" class="form-control" type="number">
              </div>
              <div class="form-group row">
                <label for="og-image-height" class="col-sm-2 col-form-label">og:image:height</label>
                <input id="og-image-height" v-model="metaTags.ogImageHeight" class="form-control" type="number">
              </div>
            </div>
          </div>
          <div class="position-fixed d-flex justify-content-end form-buttons">
            <save-button :loading="loadingButton" @click="save" text="Сохранить" className="btn-success" />
          </div>
        </div>
      </div>
      <div v-else class="text-center pt-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Загрузка...</span>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import toastr from '../plugins/toastr.min';

import PageHeader from '../layouts/PageHeader';
import FormSpec from '../components/FormSpec';
import ImageUpload from '../components/ImageUpload';

export default {
  name: 'CoinSave',
  components: {
    PageHeader,
    FormSpec,
    ImageUpload,
  },
  data() {
    return {
      title: '',
      links: [
        {
          title: 'Главная',
          name: 'home',
          path: '/backend',
        },
        {
          name: 'coins',
          path: '/backend/coins',
          title: 'Каталог',
        },
      ],
      coin: null,
      propertiesAllowed: [
        {
          name: 'name',
          title: 'Название',
          maxlength: 255,
        },
        {
          name: 'slug',
          title: 'URI (авто)',
          disabled: true,
        },
        {
          name: 'description',
          title: 'Описание',
          type: 'textarea',
        },
        {
          name: 'weight',
          title: 'Общая масса (г)',
        },
        {
          name: 'weightPure',
          title: 'Масса чистого металла (г)'
        },
        {
          name: 'metalId',
          type: 'select',
          default: 1,
        },
        {
          name: 'purity',
          type: 'number',
          min: 1,
          max: 999,
        },
        {
          name: 'diameter',
          title: 'Диаметр (мм)',
        },
        {
          name: 'thickness',
          title: 'Толщина (мм)',
          min: 0,
        },
        {
          name: 'year',
          type: 'number',
          min: 1,
        },
        {
          name: 'periodFrom',
          title: 'Начало выпуска',
          type: 'number',
          min: 1,
          nullable: true,
        },
        {
          name: 'periodTo',
          title: 'Окончание выпуска',
          type: 'number',
          min: 1,
          nullable: true,
        },
        {
          name: 'mintage',
          type: 'number',
          min: 1,
          nullable: true,
        },
        {
          name: 'countryId',
          title: 'Страна',
          type: 'select',
          default: 1,
        },
        {
          name: 'denomination',
          minlength: 1,
        },
        {
          name: 'denominationCurrency',
          minlength: 1,
        },
        {
          name: 'mint',
          minlength: 1,
          nullable: true,
        },
        {
          name: 'conditionId',
          title: 'Качество чеканки',
          type: 'select',
          default: 5,
        },
        {
          name: 'priceBuy',
          min: 0,
        },
        {
          name: 'priceSell',
          title: 'Цена продаж',
          min: 0,
        },
        {
          name: 'nofMinDiscussPrice',
          title: 'Цена для обсуждения',
          min: 0,
          nullable: true,
        },
        {
          name: 'nofAvailable',
          title: 'Число монет',
          type: 'number',
          min: 0,
          nullable: true,
        },
        {
          name: 'order',
          title: 'Вывод по порядку',
          type: 'number',
          min: 0,
          default: 0,
        },
      ],
      selects: {
        metalId: [],
        countryId: [],
        conditionId: [],
      },
      propertiesAllowedMedia: [
        {
          name: 'updated_at',
          title: 'Последнее обновление',
          type: 'date',
          disabled: true,
          className: 'form-column',
        },
        {
          name: 'isActive',
          title: 'Активна',
          type: 'radio',
          default: false,
          className: 'no-columns',
        },
        {
          name: 'obverse',
          title: 'Аверс',
          type: 'file',
          help: 'Требования: размер не меньше 100x100',
        },
        {
          name: 'reverse',
          title: 'Реверс',
          type: 'file',
          help: 'Требования: размер не меньше 100x100',
        },
      ],
      propertiesAllowedMeta: [
        {
          name: 'metaTitle',
          maxlength: 255,
        },
        {
          name: 'metaDescription',
          type: 'textarea',
          nullable: true,
          maxlength: 255,
        },
      ],
      loadingButton: false,
      errors: {},
      settings: [],
      metaTags: {
        ogTitle: '',
        ogDescription: '',
        ogImage: '',
        ogImageWidth: '',
        ogImageHeight: '',
      },
      imageAlt_1: '',
      imageAlt_2: '',
    };
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      properties: (state) => state.properties,
    }),
  },
  mounted() {
    this.getModels({ tag: 'Settings', method: 'getSettingsList' })
        .then((res) => {
          if (res.ok) {
            this.settings = res.body.find((item) => item.name === 'coins').json_body;
            this.selects.metalId = Object.values(this.settings.metals);
            this.selects.conditionId = Object.values(this.settings.conditions);
          }
        });

    this.getModels({ tag: 'Countries', method: 'getCountriesList', data: { isActiveOnly: true } })
        .then((res) => {
          if (res.ok) {
            this.selects.countryId = res.body;
          }
        });

    this.getProperties('Coin').then(() => {
      if (!this.$route.params.id) {
        this.title = 'Добавить монету';
        this.links.push({ title: 'Новая' });
        this.coin = {};
        for (const property in this.properties) {
          this.coin[property] = null;
        }
        this.coin.isActive = false;
      }
    });

    if (this.$route.params.id) {
      this.$nextTick(() => {
        this.get();
      });
    }
  },
  methods: {
    ...mapActions([
      'getProperties',
      'getModels',
      'getModel',
      'addModel',
      'updateModel',
    ]),
    get() {
      this.coin = null;
      this.getModel({ tag: 'Coins', method: 'getCoinById', id: { coinId: this.$route.params.id } })
          .then((res) => {
            if (res.ok) {
              this.coin = res.body;

              if (res.body.meta_tags) {
                res.body.meta_tags.forEach((item) => {
                  this.metaTags[item.name] = item.value;
                });
              }

              this.imageAlt_1 = this.getImageAlt(1);
              this.imageAlt_2 = this.getImageAlt(2);

              if (this.coin.id && this.title !== 'Редактировать монету') {
                this.title = 'Редактировать монету';
                this.links.push({ title: `ID: ${this.coin.id}` });
              }
            }
          }).catch((res) => {
            // window.location.href = '/backend/coins/add';
          });
    },
    save() {
      this.errors = {};
      const data = {...this.coin};
      data.meta_tags = this.metaTags;
      data.image_alt_1 = this.imageAlt_1;
      data.image_alt_2 = this.imageAlt_2;
      this.loadingButton = true;
      if (this.coin.id) {
        this.updateModel({ tag: 'Coins', method: 'updateCoin', id: { coinId: this.coin.id }, data })
            .then((res) => {
              if (res.ok) {
                toastr.success(res.body.message);
                this.get();
              }
            }).catch((errors) => {
              toastr.error('Ошибка валидации формы!');
              this.errors = errors.response.body.errors;
            }).finally(() => {
              this.loadingButton = false;
            });
      } else {
        this.addModel({ tag: 'Coins', method: 'addCoin',  data })
            .then((res) => {
              if (res.ok) {
                window.location.href = `/backend/coins/${res.body.id}/edit`;
              }
            }).catch((errors) => {
              toastr.error('Ошибка валидации формы!');
              this.errors = errors.response.body.errors;
            }).finally(() => {
              this.loadingButton = false;
            });
      }
    },
    getImageAlt(imageNumber) {
      if (this.coin.image_object) {
        const image = this.coin.image_object.find((item) => item.name === `alt_${imageNumber}`);
        if (image) {
          return image.value;
        }
      }
      return '';
    },
    getPaths(paths) {
      this.metaTags.ogImage = Object.values(paths)[0];
      this.save();
    },
  },
}
</script>
