<template>
  <div class="content-wrapper">
    <page-header
        :title="title"
        :links="links"
    />
    <section class="content">
      <div class="row">
        <div v-if="!loading" class="col-md-8">
          <table id="table" class="table table-striped table-bordered table-hover" style="width:100%">
            <thead>
            <tr>
              <th
                  v-for="column in columns"
                  :key="column.name"
                  v-text="column.title"
              />
            </tr>
            </thead>
            <tbody>
            <template v-for="item in countries.filter((country) => country.id !== 1)">
              <tr>
                <td
                    v-for="column in columns"
                    :key="column.name"
                    :data-order="['id', 'name', 'updated_at'].includes(column.name)
                    ? (column.name !== 'updated_at' ? item[column.name] : dateFormat(item[column.name], 'YYYY-MM-DD HH:mm:ss'))
                    : null"
                >
                  <template v-if="!['edit', 'delete', 'isActive'].includes(column.name)">
                    <template v-if="column.name === 'updated_at'">{{ dateFormat(item[column.name]) }}</template>
                    <template v-else>{{ item[column.name] }}</template>
                  </template>
                  <template v-else-if="column.name === 'isActive'">
                    <a
                        href="#"
                        @click.prevent="item.isActive = !item.isActive; save(item.id)"
                        class="text-center d-block"
                        :class="item[column.name] ? 'text-success' : 'text-danger'"
                    ><i class="fas fa-power-off"></i></a>
                  </template>
                  <template v-else-if="column.name === 'edit'">
                    <a
                        href="#"
                        @click.prevent="!editedRows.includes(item.id) ? editedRows.push(item.id) : editedRows = editedRows.filter(row => row !== item.id)"
                    ><i class="far fa-edit"></i></a>
                  </template>
                  <template v-else-if="column.name === 'delete'">
                    <a
                        href="#"
                        @click.prevent="showDeleteConfirmModal(item)"
                        class="text-danger"><i class="far fa-trash-alt"></i></a>
                  </template>
                </td>
              </tr>
              <tr v-show="editedRows.includes(item.id)">
                <td
                    v-for="column in columns"
                    :key="column.name"
                    :data-order="['id', 'name', 'updated_at'].includes(column.name)
                    ? (column.name !== 'updated_at' ? item[column.name] : dateFormat(item[column.name], 'YYYY-MM-DD HH:mm:ss'))
                    : null"
                >
                  <template v-if="column.name === 'name'">
                    <input
                        v-model="item.name"
                        :class="item.errors && item.errors.name ? 'is-invalid' : ''"
                        @input="item.errors ? delete item.errors.name : ''"
                        type="text"
                        class="form-control"
                        placeholder="Название страны"
                    >
                    <template v-if="item.errors && item.errors.name">
                      <span
                          v-for="(error, errorIndex) in item.errors.name"
                          :key="errorIndex"
                          v-html="error"
                          class="error invalid-feedback"
                      />
                    </template>
                  </template>
                  <template v-else-if="column.name === 'edit'">
                    <save-button :loading="loadingButtons.includes(`save-${item.id}`)" @click="save(item.id)" text="Сохранить" className="btn-success" />
                  </template>
                  <template v-else-if="column.name === 'isActive'">
                    <div class="d-flex justify-content-center">
                      <div
                          :class="item.errors && item.errors.isActive ? 'is-invalid' : ''"
                          class="custom-control custom-switch d-flex align-items-center mt-n2"
                      >
                        <input
                            v-model="item.isActive"
                            type="checkbox"
                            class="custom-control-input"
                            :id="`isActive-${item.id}`"
                        >
                        <label
                            class="custom-control-label"
                            :for="`isActive-${item.id}`"
                        />
                      </div>
                      <template v-if="item.errors && item.errors.isActive">
                        <span
                            v-for="(error, errorIndex) in item.errors.isActive"
                            :key="errorIndex"
                            v-html="error"
                            class="error invalid-feedback"
                        />
                      </template>
                    </div>
                  </template>
                </td>
              </tr>
            </template>
            </tbody>
          </table>
        </div>
        <div v-else class="col-md-8 text-center pt-5">
          <div class="spinner-border" role="status">
            <span class="sr-only">Загрузка...</span>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-primary">
            <div class="card-header">
              <h3 class="card-title">Добавить страну</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="countryName">Название</label>
                <input
                    type="text"
                    v-model="formData.name"
                    :class="formData.errors.name ? 'is-invalid' : ''"
                    @input="delete formData.errors.name"
                    class="form-control"
                    id="countryName"
                    placeholder="Название страны"
                >
                <template v-if="formData.errors.name">
                  <span
                      v-for="(error, errorIndex) in formData.errors.name"
                      :key="errorIndex"
                      v-html="error"
                      class="error invalid-feedback"
                  />
                </template>
              </div>
              <div class="form-group">
                <div
                    :class="formData.errors.name ? 'is-invalid' : ''"
                    class="custom-control custom-switch d-flex align-items-center"
                >
                  <input
                      v-model="formData.isActive"
                      type="checkbox"
                      class="custom-control-input"
                      id="countryIsActive"
                  >
                  <label class="custom-control-label" for="countryIsActive">
                    <template v-if="!formData.isActive">Неактивна</template>
                    <template v-else>Активна</template>
                  </label>
                </div>
                <template v-if="formData.errors.isActive">
                  <span
                      v-for="(error, errorIndex) in formData.errors.isActive"
                      :key="errorIndex"
                      v-html="error"
                      class="error invalid-feedback"
                  />
                </template>
              </div>
            </div>
            <div class="card-footer text-right">
              <save-button :loading="loadingButtons.includes('add')" @click="add" text="Добавить" className="btn-primary" />
            </div>
          </div>
        </div>
      </div>
    </section>
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-danger">
          <div class="modal-header">
            <h4 class="modal-title">Подтвердить удаление</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Вы действительно хотите удалить?</p>
            <p>{{ `ID: ${modal.id}` }}</p>
            <p>{{ `Название: ${modal.name}` }}</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal">Закрыть</button>
            <button @click="deleteItem" type="button" class="btn btn-outline-light">Удалить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import toastr from '../plugins/toastr.min';
import moment from 'moment/moment';
require('moment/locale/ru');

import PageHeader from '../layouts/PageHeader';

export default {
  name: 'Countries',
  components: {
    PageHeader,
  },
  data() {
    return {
      title: 'Все страны',
      links: [
        {
          title: 'Главная',
          name: 'home',
          path: '/backend',
        },
        {
          title: 'Страны',
        },
      ],
      columns: [
        {
          name: 'id',
          title: 'ID',
        },
        {
          name: 'name',
          title: 'Название',
        },
        {
          name: 'isActive',
          title: 'Включено',
        },
        {
          name: 'updated_at',
          title: 'Обновлено',
        },
        {
          name: 'edit',
          title: ''
        },
        {
          name: 'delete',
          title: ''
        },
      ],
      countries: [],
      dataTableOptions : {
        // searching : false,
        columnDefs: [
          { orderable: false, targets: [2, 4, 5] }
        ],
        order: [[1, 'asc']],
        paging       : true,
        info         : false,
        pageLength   : 50,
        lengthChange : false,
        language     : window.dtTranslations
      },
      modal: {
        id: 0,
        name: '',
      },
      editedRows: [],
      formData: {
        name: '',
        isActive: false,
        errors: {},
      },
      loadingButtons: [],
      table: null,
    };
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
    }),
  },
  mounted() {
    this.get();
  },
  methods: {
    ...mapActions([
      'getModels',
      'addModel',
      'updateModel',
      'deleteModel',
    ]),
    showDeleteConfirmModal(coin) {
      $('#confirmDeleteModal').modal('show');
      this.modal.id = coin.id;
      this.modal.name = coin.name;
    },
    dateFormat(date, format = 'DD.MM.YYYY HH:mm:ss') {
      return moment(date).format(format);
    },
    get() {
      $('#table').DataTable().destroy();
      this.getModels({ tag: 'Countries', method: 'getCountriesList' })
          .then((res) => {
            if (res.ok) {
              this.countries = res.body;
            }
          }).finally(() => {
            $('#table').DataTable(this.dataTableOptions).draw();
          });
    },
    save(id) {
      const country = this.countries.find(item => item.id === id);
      country.errors = {};
      this.loadingButtons.push(`save-${id}`);
      this.updateModel({ tag: 'Countries', method: 'updateCountry', id: { countryId: id }, data: country })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              this.editedRows = [];
              this.get();
            }
          }).catch((errors) => {
            toastr.error('Ошибка валидации формы!');
            country.errors = errors.response.body.errors;
          }).finally(() => {
            this.loadingButtons = [];
          });
    },
    add() {
      this.formData.errors = {};
      this.loadingButtons.push('add');
      this.addModel({ tag: 'Countries', method: 'addCountry', data: this.formData })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              this.get();
              this.formData.name = '';
              this.formData.isActive = false;
            }
          }).catch((errors) => {
            toastr.error('Ошибка валидации формы!');
            this.formData.errors = errors.response.body.errors;
          }).finally(() => {
            this.loadingButtons = [];
          });
    },
    deleteItem() {
      this.deleteModel({ tag: 'Countries', method: 'deleteCountry', id: { countryId: this.modal.id } })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              this.get();
            }
          }).catch((errors) => {
            toastr.error(errors.response.body.message);
          }).finally(() => {
            $('#confirmDeleteModal').modal('hide');
          });
    },
  },
}
</script>
