<template>
  <div class="content-wrapper">
    <page-header
        :title="title"
        :links="links"
    />
    <section class="content">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Events: call</h3>
          <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
              <i class="fas fa-minus"></i>
            </button>
            <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
              <i class="fas fa-times"></i>
            </button>
          </div>
        </div>
        <div class="card-body">
          <canvas id="events-call" width="400" height="100"></canvas>
        </div>
        <div class="card-footer">
          Footer
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import Chart from 'chart.js/auto';

import PageHeader from '../layouts/PageHeader';

export default {
  components: {
    PageHeader,
  },
  data() {
    return {
      title: 'Администраторская панель',
      links: [
        {
          title: 'Главная',
        }
      ],
      events: [],
      values: [],
    };
  },
  computed: {
    calls() {
      return this.events.filter((event) => event.name === 'call');
    },
    labels() {
      const date = new Date();
      const month = date.getMonth();
      date.setDate(1);
      const dates = [];
      while (date.getMonth() == month) {
        const compareDate = `${date.getFullYear()}-${('0' + (date.getMonth() + 1)).slice(-2)}-${('0' + date.getDate()).slice(-2)}`;

        for (let call of this.calls) {
          this.values[compareDate] = (this.values[compareDate] || 0) + (compareDate === call.date.slice(0, -9) ? 1 : 0);
        }

        const d = ('0' + date.getDate()).slice(-2) + '.' + ('0' + (date.getMonth() + 1)).slice(-2) + '.' + date.getFullYear();
        dates.push(d);
        date.setDate(date.getDate() + 1);
      }
      return dates;
    },
  },
  mounted() {
    const ctx = document.getElementById('events-call');

    window.axios.get('/get-events')
        .then(result => {
          if (result.data && result.data.json_body) {
            this.events = result.data.json_body;

            const myChart = new Chart(ctx, {
              type: 'line',
              data: {
                labels: this.labels,
                datasets: [{
                  label: 'Количество кликов по иконке звонка в мобильной версии',
                  data: Object.values(this.values),
                  backgroundColor: 'rgba(255,0,54,0.66)',
                  borderColor: 'rgba(54, 162, 235, 1)',
                  borderWidth: 1
                }]
              },
              options: {
                scales: {
                  y: {
                    beginAtZero: true
                  }
                }
              }
            });
          }
        }).catch(err => {
          console.log(err.response);
        });
  },
}
</script>
