<template>
  <div class="content-wrapper">
    <page-header
        :title="title"
        :links="links"
    />
    <section class="content content-editor">
      <div v-if="Object.keys(properties).length && article" class="row">
        <div class="col-md-6 col-xl-8 form-horizontal">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Общая информация</h3>
            </div>
            <div class="card-body">
              <p class="h4 mb-3 font-weight-bold">ID: {{ article.id }}</p>
              <form-spec
                  :properties-allowed="propertiesAllowed"
                  :properties="properties"
                  :data="article"
                  :errors="errors"
                  image-type="news-article"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4 form-horizontal label-nowrap">
          <div class="card card-primary form-column">
            <div class="card-header">
              <h3 class="card-title">Статус и Изображения</h3>
            </div>
            <div class="card-body">
              <form-spec
                  :properties-allowed="propertiesAllowedMedia"
                  :properties="properties"
                  :data="article"
                  :errors="errors"
                  image-type="news"
              />
              <div class="form-group row">
                <label for="image-alt" class="col-sm-2 col-form-label">image alt</label>
                <input id="image-alt" v-model="imageAlt" class="form-control" type="text" maxlength="255">
              </div>
            </div>
          </div>
          <div class="card card-secondary mt-4 form-column">
            <div class="card-header">
              <h3 class="card-title">Мета теги</h3>
            </div>
            <div class="card-body">
              <form-spec
                  :properties-allowed="propertiesAllowedMeta"
                  :properties="properties"
                  :data="article"
                  :errors="errors"
              />
              <div class="form-group row">
                <label for="og-title" class="col-sm-2 col-form-label">og:title</label>
                <input id="og-title" v-model="metaTags.ogTitle" class="form-control" type="text" maxlength="255">
              </div>
              <div class="form-group row">
                <label for="og-description" class="col-sm-2 col-form-label">og:description</label>
                <textarea id="og-description" v-model="metaTags.ogDescription" class="form-control"></textarea>
              </div>
              <div class="form-group row">
                <label for="og-title" class="col-sm-2 col-form-label">og:image</label>
                <p v-if="!article.id" class="font-weight-bold pl-2 text-danger">Доступно после добавления</p>
                <image-upload
                    property-name="ogImage"
                    :source="metaTags.ogImage"
                    :data="{ id: article.id }"
                    type="og-image"
                    image-name="ogImage"
                    :show-upload-button="!!article.id"
                    @paths="getPaths"
                />
              </div>
              <div class="form-group row">
                <label for="og-image-width" class="col-sm-2 col-form-label">og:image:width</label>
                <input id="og-image-width" v-model="metaTags.ogImageWidth" class="form-control" type="number">
              </div>
              <div class="form-group row">
                <label for="og-image-height" class="col-sm-2 col-form-label">og:image:height</label>
                <input id="og-image-height" v-model="metaTags.ogImageHeight" class="form-control" type="number">
              </div>
            </div>
          </div>
          <div class="position-fixed d-flex justify-content-end form-buttons">
            <save-button :loading="loadingButton" @click="save" text="Сохранить" className="btn-success" />
          </div>
        </div>
      </div>
      <div v-else class="text-center pt-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Загрузка...</span>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import toastr from '../plugins/toastr.min';

import PageHeader from '../layouts/PageHeader';
import FormSpec from '../components/FormSpec';
import ImageUpload from '../components/ImageUpload';

export default {
  name: 'NewsSave',
  components: {
    PageHeader,
    FormSpec,
    ImageUpload,
  },
  data() {
    return {
      title: '',
      links: [
        {
          title: 'Главная',
          name: 'home',
          path: '/backend',
        },
        {
          name: 'news',
          path: '/backend/news',
          title: 'Новости',
        },
      ],
      article: null,
      propertiesAllowed: [
        {
          name: 'name',
          title: 'Название',
          maxlength: 255,
        },
        {
          name: 'slug',
          title: 'URI (авто)',
          disabled: true,
        },
        {
          name: 'text',
          title: 'Статья',
          type: 'editor',
        },
      ],
      propertiesAllowedMedia: [
        {
          name: 'updated_at',
          title: 'Последнее обновление',
          type: 'date',
          disabled: true,
          className: 'form-column',
        },
        {
          name: 'isActive',
          title: 'Активна',
          type: 'radio',
          default: false,
          className: 'no-columns',
        },
        {
          name: 'image',
          title: 'Обложка',
          type: 'file',
          help: 'Требования: размер не меньше 443x296',
        },
      ],
      propertiesAllowedMeta: [
        {
          name: 'metaTitle',
          maxlength: 255,
        },
        {
          name: 'metaDescription',
          type: 'textarea',
          nullable: true,
          maxlength: 255,
        },
      ],
      loadingButton: false,
      errors: {},
      metaTags: {
        ogTitle: '',
        ogDescription: '',
        ogImage: '',
        ogImageWidth: '',
        ogImageHeight: '',
      },
      imageAlt: '',
    };
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      properties: (state) => state.properties,
    }),
  },
  mounted() {
    this.getProperties('NewsArticle').then(() => {
      if (!this.$route.params.id) {
        this.title = 'Добавить статью';
        this.links.push({ title: 'Новая' });
        this.article = {};
        for (const property in this.properties) {
          this.article[property] = null;
        }
        this.article.isActive = false;
      }
    });

    if (this.$route.params.id) {
      this.$nextTick(() => {
        this.get();
      });
    }
  },
  methods: {
    ...mapActions([
        'getProperties',
        'getModel',
        'addModel',
        'updateModel',
    ]),
    get() {
      this.article = null;
      this.getModel({ tag: 'News', method: 'getNewsArticleById', id: { newsArticleId: this.$route.params.id } })
          .then((res) => {
            if (res.ok) {
              this.article = res.body;

              if (res.body.meta_tags) {
                res.body.meta_tags.forEach((item) => {
                  this.metaTags[item.name] = item.value;
                });
              }

              this.imageAlt = this.getImageAlt();

              if (this.article.id && this.title !== 'Редактировать статью') {
                this.title = 'Редактировать статью';
                this.links.push({ title: `ID: ${this.article.id}` });
              }
            }
          }).catch((res) => {
            window.location.href = '/backend/news/add';
          });
    },
    save() {
      this.errors = {};
      const data = {...this.article};
      data.meta_tags = this.metaTags;
      data.image_alt = this.imageAlt;
      this.loadingButton = true;
      if (this.article.id) {
        this.updateModel({ tag: 'News', method: 'updateNewsArticle', id: { newsArticleId: this.article.id }, data })
            .then((res) => {
              if (res.ok) {
                toastr.success(res.body.message);
                this.get();
              }
            }).catch((errors) => {
              toastr.error('Ошибка валидации формы!');
              this.errors = errors.response.body.errors;
            }).finally(() => {
              this.loadingButton = false;
            });
      } else {
        this.addModel({ tag: 'News', method: 'addNewsArticle', data })
            .then((res) => {
              if (res.ok) {
                window.location.href = `/backend/news/${res.body.id}/edit`;
              }
            }).catch((errors) => {
              toastr.error('Ошибка валидации формы!');
              this.errors = errors.response.body.errors;
            }).finally(() => {
              this.loadingButton = false;
            });
      }
    },
    getImageAlt() {
      if (this.article.image_object) {
        const image = this.article.image_object.find((item) => item.name === 'alt');
        if (image) {
          return image.value;
        }
      }
      return '';
    },
    getPaths(paths) {
      this.metaTags.ogImage = Object.values(paths)[0];
      this.save();
    },
  },
}
</script>
