<template>
  <div class="content-wrapper">
    <page-header
        :title="title"
        :links="links"
    />
    <section class="content content-editor">
      <div v-if="Object.keys(properties).length && page" class="row">
        <div class="col-md-8">
          <div
              v-for="(question, index) in questionsSorted"
              :key="index"
              class="card"
          >
            <div class="card-header">
              <h3 class="card-title">Вопрос №{{ index + 1 }}</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label :for="`question-${index + 1}`">Вопрос</label>
                <input
                    v-model="questions[index].question"
                    :id="`question-${index + 1}`"
                    type="text"
                    class="form-control"
                >
              </div>
              <div class="form-group">
                <label :for="`answer-${index + 1}`">Ответ</label>
                <VueEditor
                    :id="`answer-${index + 1}`"
                    v-model="questions[index].answer"
                    :editorToolbar="customToolbar"
                />
              </div>
            </div>
            <div class="card-footer">
              <div class="d-flex justify-content-between order-wrap">
                <div class="d-flex align-items-center">
                  <span class="mr-2">Порядковый номер #{{ questions[index].order }}</span>
                  <button
                      title="Поднять выше"
                      :class="{ disabled: index === 0 }"
                      class="btn p-0"
                      @click="changeOrder(index, 'up')"
                  ><i class="fas fa-caret-up" :class="index !== 0 ? 'text-primary' : 'text-secondary'"></i></button>
                  <button
                      title="Опустить ниже"
                      :class="{ disabled: index === questions.length - 1 }"
                      class="btn p-0"
                      @click="changeOrder(index, 'down')"
                  ><i class="fas fa-caret-down" :class="index !== questions.length - 1 ? 'text-primary' : 'text-secondary'"></i></button>
                </div>
                <div>
                  <button class="btn btn-danger mr-3" @click="showDeleteConfirmModal(index)">Удалить</button>
                  <save-button :loading="loadingButtons.includes(index)" @click="save(index)" text="Сохранить" className="btn-success" />
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card card-info form-column">
            <div class="card-header">
              <h3 class="card-title">Общая информация</h3>
            </div>
            <div class="card-body">
              <form-spec
                  :properties-allowed="propertiesAllowed"
                  :properties="properties"
                  :data="page"
                  :errors="errors"
              />
              <form-spec
                  :properties-allowed="propertiesAllowedBody"
                  :properties="properties"
                  :data="body"
                  :errors="errors"
              />
              <form-spec
                  :properties-allowed="propertiesAllowedMeta"
                  :properties="properties"
                  :data="page"
                  :errors="errors"
              />
              <div class="form-group row">
                <label for="og-title" class="col-sm-2 col-form-label">og:title</label>
                <input id="og-title" v-model="metaTags.ogTitle" class="form-control" type="text" maxlength="255">
              </div>
              <div class="form-group row">
                <label for="og-description" class="col-sm-2 col-form-label">og:description</label>
                <textarea id="og-description" v-model="metaTags.ogDescription" class="form-control"></textarea>
              </div>
              <div class="form-group row">
                <label for="og-title" class="col-sm-2 col-form-label">og:image</label>
                <input id="og-image" v-model="metaTags.ogImage" class="form-control" type="text" maxlength="255">
              </div>
              <div class="form-group row">
                <label for="og-image-width" class="col-sm-2 col-form-label">og:image:width</label>
                <input id="og-image-width" v-model="metaTags.ogImageWidth" class="form-control" type="number">
              </div>
              <div class="form-group row">
                <label for="og-image-height" class="col-sm-2 col-form-label">og:image:height</label>
                <input id="og-image-height" v-model="metaTags.ogImageHeight" class="form-control" type="number">
              </div>
            </div>
            <div class="card-footer justify-content-end d-flex">
              <save-button :loading="loadingButtons.includes('save')" @click="save('save')" text="Сохранить" className="btn-success" />
            </div>
          </div>
          <div class="card card-primary mt-4">
            <div class="card-header">
              <h3 class="card-title">Добавить вопрос-ответ</h3>
            </div>
            <div class="card-body">
              <div class="form-group">
                <label for="question-add">Вопрос</label>
                <input v-model="formData.question" type="text" class="form-control" id="question-add" placeholder="Текст вопроса">
              </div>
              <div class="form-group">
                <label for="answer-add">Ответ</label>
                <VueEditor
                    id="answer-add"
                    v-model="formData.answer"
                    :editorToolbar="customToolbar"
                />
              </div>
              <div class="form-group">
                <label for="order-add">Порядковый номер</label>
                <input v-model="formData.order" type="number" class="form-control" id="order-add" placeholder="Номер вывода" min="0">
              </div>
            </div>
            <div class="card-footer text-right">
              <save-button :loading="loadingButtons.includes('add')" @click="add" text="Добавить" className="btn-primary" />
            </div>
          </div>
        </div>
      </div>
      <div v-else class="text-center pt-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Загрузка...</span>
        </div>
      </div>
    </section>
    <div class="modal fade" id="confirmDeleteModal" tabindex="-1">
      <div class="modal-dialog" role="document">
        <div class="modal-content bg-danger">
          <div class="modal-header">
            <h4 class="modal-title">Подтвердить удаление</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Вы действительно хотите удалить?</p>
            <p>{{ `Вопрос: ${modal.name}` }}</p>
          </div>
          <div class="modal-footer justify-content-between">
            <button type="button" class="btn btn-outline-light" data-dismiss="modal">Закрыть</button>
            <button @click="deleteItem" type="button" class="btn btn-outline-light">Удалить</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import { VueEditor } from 'vue2-editor';
import toastr from '../plugins/toastr.min';

import PageHeader from '../layouts/PageHeader';
import FormSpec from '../components/FormSpec';

export default {
  name: 'Questions',
  components: {
    PageHeader,
    VueEditor,
    FormSpec,
  },
  data() {
    return {
      title: 'Список вопросов',
      links: [
        {
          title: 'Главная',
          name: 'home',
          path: '/backend',
        },
        {
          title: 'Вопрос-Ответ',
        },
      ],
      modal: {
        id: 0,
        name: '',
      },
      questions: [],
      formData: {
        question: '',
        answer: '',
        order: 0,
      },
      customToolbar: [
        ['bold', 'italic', 'underline'],
      ],
      page: null,
      body: null,
      propertiesAllowed: [
        {
          name: 'title',
          title: 'Название в меню',
          maxlength: 255,
        },
      ],
      propertiesAllowedBody: [
        {
          name: 'title',
          title: 'Заголовок на странице',
          maxlength: 255,
        },
      ],
      propertiesAllowedMeta: [
        {
          name: 'metaTitle',
          maxlength: 255,
        },
        {
          name: 'metaDescription',
          type: 'textarea',
          nullable: true,
          maxlength: 255,
        },
      ],
      loadingButtons: [],
      errors: {},
      metaTags: {
        ogTitle: '',
        ogDescription: '',
        ogImage: '',
        ogImageWidth: '',
        ogImageHeight: '',
      },
    };
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      properties: (state) => state.properties,
    }),
    questionsSorted() {
      return this.questions.sort((a, b) => a.order - b.order);
    },
  },
  mounted() {
    this.getProperties('Page');
    this.get();
  },
  methods: {
    ...mapActions([
      'getProperties',
      'getModel',
      'updateModel',
    ]),
    showDeleteConfirmModal(index) {
      $('#confirmDeleteModal').modal('show');
      this.modal.id = index;
      this.modal.name = this.questions[index].question;
    },
    get() {
      this.page = null;
      this.getModel({ tag: 'Pages', method: 'getPageById', id: { pageId: 4 } })
          .then((res) => {
            if (res.ok) {
              this.page = res.body;
              this.body = res.body.json_body;
              this.questions = res.body.json_body.questions;

              if (res.body.meta_tags) {
                res.body.meta_tags.forEach((item) => {
                  this.metaTags[item.name] = item.value;
                });
              }
            }
          });
    },
    save(index) {
      this.errors = {};
      const data = {...this.page};
      data.meta_tags = this.metaTags;
      this.loadingButtons.push(index);
      this.updateModel({ tag: 'Pages', method: 'updatePage', id: { pageId: this.page.id }, data })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              this.get();
            }
          }).catch((errors) => {
        toastr.error('Ошибка валидации формы!');
        this.errors = errors.response.body.errors;
      }).finally(() => {
        this.loadingButtons = [];
      });
    },
    add() {
      if (this.formData.question && this.formData.question.length >= 2 && this.formData.question.length <= 255
          && this.formData.answer && this.formData.answer.length >= 2) {
        this.questions.push(this.formData);
        this.save();
      } else {
        toastr.error('Ошибка валидации формы!');
      }
    },
    deleteItem() {
      this.questions.splice(this.modal.id, 1);
      this.save(this.modal.id);
      $('#confirmDeleteModal').modal('hide');
    },
    changeOrder(index, position) {
      if (index !== 0 && position === 'up') {
        this.questions[index].order = this.questions[index].order - 1;
        this.questions[index - 1].order = this.questions[index - 1].order + 1;
      } else if (index !== this.questions.length - 1 && position === 'down') {
        this.questions[index].order = this.questions[index].order + 1;
        this.questions[index + 1].order = this.questions[index + 1].order - 1;
      }
      this.save(index);
    },
  },
}
</script>
