<template>
  <div class="content-wrapper">
    <page-header
        :title="title"
        :links="links"
    />
    <section class="content content-editor">
      <div v-if="Object.keys(settings).length" class="row">
        <div class="col-md-6">
          <div class="card card-primary form-column">
            <div class="card-header">
              <h3 class="card-title">Телефоны</h3>
            </div>
            <div class="card-body">
              <div
                  v-for="(phone, index) in phones"
                  :key="index"
                  class="form-group"
              >
                <label :for="`phone-${index}`" v-text="phones[index].alt" />
                <input v-model="phones[index].number" type="text" class="form-control" :id="`phone-${index}`">
              </div>
            </div>
            <div class="card-footer justify-content-end d-flex">
              <save-button :loading="loadingButtons.includes('phones')" @click="save('phones')" />
            </div>
          </div>
          <div class="card card-primary form-column mt-3">
            <div class="card-header">
              <h3 class="card-title">Телеграм аккаунты</h3>
            </div>
            <div class="card-body">
              <div
                  v-for="(account, index) in telegram"
                  :key="index"
                  class="form-group"
              >
                <label :for="`telegram-${index}`" v-text="telegram[index].alt" />
                <input v-model="telegram[index].account" type="text" class="form-control" :id="`telegram-${index}`">
              </div>
            </div>
            <div class="card-footer justify-content-end d-flex">
              <save-button :loading="loadingButtons.includes('telegram')" @click="save('telegram')" />
            </div>
          </div>
          <div class="card card-secondary form-column mt-3">
            <div class="card-header">
              <h3 class="card-title">Robots.txt</h3>
            </div>
            <div class="card-body">
              <label for="robots">Robots.txt</label>
              <textarea
                  v-model="robots"
                  id="robots"
                  class="form-control"
              />
            </div>
            <div class="card-footer justify-content-end d-flex">
              <save-button :loading="loadingButtons.includes('robots')" @click="save('robots')" />
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card card-info form-column">
            <div class="card-header">
              <h3 class="card-title">Email</h3>
            </div>
            <div class="card-body">
              <label for="email">Email</label>
              <input v-model="email" type="text" class="form-control" id="email">
            </div>
            <div class="card-footer justify-content-end d-flex">
              <save-button :loading="loadingButtons.includes('email')" @click="save('email')" />
            </div>
          </div>
          <div class="card card-secondary form-column mt-3">
            <div class="card-header">
              <h3 class="card-title">Код виджета в шапке</h3>
            </div>
            <div class="card-body">
              <label for="script">Скрипт (<span class="text-danger">только внутри тега &lt;script&gt;!</span>)</label>
              <textarea
                  v-model="script"
                  id="script"
                  class="form-control"
                  style="height:1027px; resize:none;"
              />
            </div>
            <div class="card-footer justify-content-end d-flex">
              <save-button :loading="loadingButtons.includes('rates')" @click="save('rates')" />
            </div>
          </div>
        </div>
      </div>
      <div v-else class="text-center pt-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Загрузка...</span>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import toastr from '../plugins/toastr.min';

import PageHeader from '../layouts/PageHeader';

export default {
  name: 'Settings',
  components: {
    PageHeader,
  },
  data() {
    return {
      title: 'Настройки сайта',
      links: [
        {
          title: 'Главная',
          name: 'home',
          path: '/backend',
        },
        {
          title: 'Настройки',
        },
      ],
      settings: [],
      phones: [],
      email: '',
      telegram: [],
      robots: '',
      script: '',
      loadingButtons: [],
    };
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      properties: (state) => state.properties,
    }),
  },
  mounted() {
    this.getProperties('SettingsItem');
    this.get();
  },
  methods: {
    ...mapActions([
      'getProperties',
      'getModels',
      'updateModel',
    ]),
    get() {
      this.getModels({ tag: 'Settings', method: 'getSettingsList' })
          .then((res) => {
            if (res.ok) {
              this.settings = res.body;
              this.phones = this.settings.find((item) => item.name === 'phones').json_body;
              this.email = this.settings.find((item) => item.name === 'email').json_body.email;
              this.telegram = this.settings.find((item) => item.name === 'telegram').json_body;
              this.script = this.settings.find((item) => item.name === 'rates').json_body.script;
              this.robots = this.settings.find((item) => item.name === 'robots').json_body.content;
            }
          });
    },
    save(type) {
      let data = this.settings.find((item) => item.name === type);
      if (type === 'phones') {
        data.json_body = data.json_body.map((item, index) => {
          item.number = this.phones[index].number;
          return item;
        });
      } else if (type === 'email') {
        data.json_body = { email: this.email };
      } else if (type === 'telegram') {
        data.json_body = data.json_body.map((item, index) => {
          item.account = this.telegram[index].account;
          return item;
        });
      } else if (type === 'rates') {
        data.json_body = { script: this.script };
      } else if (type === 'robots') {
        data.json_body = { content: this.robots };
      }
      this.loadingButtons.push(type);
      this.updateModel({ tag: 'Settings', method: 'updateSettingsItem', id: { settingsItemId: data.id }, data: { json_body: data.json_body } })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              this.get();
            }
          }).catch((errors) => {
            toastr.error('Ошибка валидации формы!');
          }).finally(() => {
            this.loadingButtons = [];
          });
    },
  },
}
</script>
