<template>
  <div class="content-wrapper">
    <page-header
        :title="title"
        :links="links"
    />
    <section class="content content-editor">
      <div v-if="Object.keys(settings).length" class="row">
        <div class="col">
          <div class="card card-primary form-column">
            <div class="card-header">
              <h3 class="card-title">Common.css</h3>
            </div>
            <div class="card-body">
              <label for="styles">CSS</label>
              <textarea
                  v-model="styles"
                  id="styles"
                  class="form-control"
              />
            </div>
            <div class="card-footer justify-content-end d-flex">
              <save-button :loading="loadingButtons.includes('styles')" @click="save('styles')" />
            </div>
          </div>
        </div>
      </div>
      <div v-else class="text-center pt-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Загрузка...</span>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import toastr from '../plugins/toastr.min';

import PageHeader from '../layouts/PageHeader';

export default {
  name: 'Styles',
  components: {
    PageHeader,
  },
  data() {
    return {
      title: 'Пользовательские стили',
      links: [
        {
          title: 'Главная',
          name: 'home',
          path: '/backend',
        },
        {
          title: 'Стили',
        },
      ],
      settings: [],
      styles: '',
      loadingButtons: [],
    };
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      properties: (state) => state.properties,
    }),
  },
  mounted() {
    this.getProperties('SettingsItem');
    this.get();
  },
  methods: {
    ...mapActions([
      'getProperties',
      'getModels',
      'updateModel',
    ]),
    get() {
      this.getModels({tag: 'Settings', method: 'getSettingsList'})
          .then((res) => {
            if (res.ok) {
              this.settings = res.body;
              this.styles = this.settings.find((item) => item.name === 'styles').json_body.content;
            }
          });
    },
    save(type) {
      let data = this.settings.find((item) => item.name === type);
      data.json_body = { content: this.styles };
      this.loadingButtons.push(type);
      this.updateModel({ tag: 'Settings', method: 'updateSettingsItem', id: { settingsItemId: data.id }, data: { json_body: data.json_body } })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              this.get();
            }
          }).catch((errors) => {
        toastr.error('Ошибка валидации формы!');
      }).finally(() => {
        this.loadingButtons = [];
      });
    },
  },
}
</script>
