<template>
  <div class="content-wrapper">
    <page-header
        :title="title"
        :links="links"
    />
    <section class="content content-editor">
      <div v-if="Object.keys(properties).length && page" class="row">
        <div class="col-md-6 col-xl-8 form-horizontal">
          <div class="card card-info">
            <div class="card-header">
              <h3 class="card-title">Общая информация</h3>
            </div>
            <div class="card-body">
              <p class="h4 mb-3 font-weight-bold">ID: {{ page.id }}</p>
              <form-spec
                  :properties-allowed="propertiesAllowed"
                  :properties="properties"
                  :data="page"
                  :errors="errors"
              />
            </div>
          </div>
          <div class="card card-info mt-4">
            <div class="card-header">
              <h3 class="card-title">Тело страницы</h3>
            </div>
            <div class="card-body">
              <form-spec
                  :properties-allowed="propertiesAllowedBody"
                  :properties="properties"
                  :data="body"
                  :errors="errors"
                  :editor-toolbar="customToolbar"
              />
            </div>
          </div>
        </div>
        <div class="col-md-6 col-xl-4 form-horizontal label-nowrap">
          <div class="card card-primary form-column">
            <div class="card-header">
              <h3 class="card-title">Статус</h3>
            </div>
            <div class="card-body">
              <form-spec
                  :properties-allowed="propertiesAllowedMedia"
                  :properties="properties"
                  :data="page"
                  :errors="errors"
                  image-type="pages"
                  image-name="why-us"
              />
              <div class="form-group row">
                <label for="image-alt" class="col-sm-2 col-form-label">image alt</label>
                <input id="image-alt" v-model="imageAlt" class="form-control" type="text" maxlength="255">
              </div>
            </div>
          </div>
          <div class="card card-secondary mt-4 form-column">
            <div class="card-header">
              <h3 class="card-title">Мета теги</h3>
            </div>
            <div class="card-body">
              <form-spec
                  :properties-allowed="propertiesAllowedMeta"
                  :properties="properties"
                  :data="page"
                  :errors="errors"
              />
              <div class="form-group row">
                <label for="og-title" class="col-sm-2 col-form-label">og:title</label>
                <input id="og-title" v-model="metaTags.ogTitle" class="form-control" type="text" maxlength="255">
              </div>
              <div class="form-group row">
                <label for="og-description" class="col-sm-2 col-form-label">og:description</label>
                <textarea id="og-description" v-model="metaTags.ogDescription" class="form-control"></textarea>
              </div>
              <div class="form-group row">
                <label for="og-title" class="col-sm-2 col-form-label">og:image</label>
                <image-upload
                    property-name="ogImage"
                    :source="metaTags.ogImage"
                    :data="{ id: page.id }"
                    type="og-image"
                    image-name="ogImage"
                    :show-upload-button="!!page.id"
                    @paths="getPaths"
                />
              </div>
              <div class="form-group row">
                <label for="og-image-width" class="col-sm-2 col-form-label">og:image:width</label>
                <input id="og-image-width" v-model="metaTags.ogImageWidth" class="form-control" type="number">
              </div>
              <div class="form-group row">
                <label for="og-image-height" class="col-sm-2 col-form-label">og:image:height</label>
                <input id="og-image-height" v-model="metaTags.ogImageHeight" class="form-control" type="number">
              </div>
            </div>
          </div>
          <div class="position-fixed d-flex justify-content-end form-buttons">
            <save-button :loading="loadingButton" @click="save" text="Сохранить" className="btn-success btn-lg" />
          </div>
        </div>
      </div>
      <div v-else class="text-center pt-5">
        <div class="spinner-border" role="status">
          <span class="sr-only">Загрузка...</span>
        </div>
      </div>
    </section>
  </div>
</template>

<script>
import { mapState, mapActions } from 'vuex';
import toastr from '../plugins/toastr.min';

import PageHeader from '../layouts/PageHeader';
import FormSpec from '../components/FormSpec';
import ImageUpload from '../components/ImageUpload';

export default {
  name: 'WhyUs',
  components: {
    PageHeader,
    FormSpec,
    ImageUpload,
  },
  data() {
    return {
      title: 'Страница "Почему мы"',
      links: [
        {
          title: 'Главная',
          name: 'home',
          path: '/backend',
        },
        {
          title: 'Почему мы',
        },
      ],
      page: null,
      body: null,
      customToolbar: [
          [{ header: [false, 1, 2, 3, 4, 5, 6]  }, 'bold', 'italic', 'underline', 'strike',
            { size: ["small", false, "large", "huge"] }],
          [{ list: 'ordered' }, { list: 'bullet' }],
          [{ align: '' }, { align: 'center' }, { align: 'right' }, { align: 'justify' }],
          [{ script: "sub" }, { script: "super" }, { color: [] }, { background: [] }],
          ['clean'],
      ],
      propertiesAllowed: [
        {
          name: 'title',
          title: 'Название в меню',
          maxlength: 255,
        },
        {
          name: 'slug',
          title: 'URI (авто)',
          disabled: true,
        },
      ],
      propertiesAllowedBody: [
        {
          name: 'title',
          title: 'Заголовок',
          maxlength: 255,
        },
        {
          name: 'text',
          title: 'Тело страницы',
          type: 'editor',
        },
      ],
      propertiesAllowedMedia: [
        {
          name: 'updated_at',
          title: 'Последнее обновление',
          type: 'date',
          disabled: true,
          className: 'form-column',
        },
        {
          name: 'image',
          title: 'Картинка',
          type: 'file',
          help: 'Требования: размер не меньше 317x317',
        },
      ],
      propertiesAllowedMeta: [
        {
          name: 'metaTitle',
          maxlength: 255,
        },
        {
          name: 'metaDescription',
          type: 'textarea',
          nullable: true,
          maxlength: 255,
        },
      ],
      loadingButton: false,
      errors: {},
      metaTags: {
        ogTitle: '',
        ogDescription: '',
        ogImage: '',
        ogImageWidth: '',
        ogImageHeight: '',
      },
      imageAlt: '',
    };
  },
  computed: {
    ...mapState({
      loading: (state) => state.loading,
      properties: (state) => state.properties,
    }),
  },
  mounted() {
    this.getProperties('Page');
    this.get();
  },
  methods: {
    ...mapActions([
      'getProperties',
      'getModel',
      'updateModel',
    ]),
    get() {
      this.page = null;
      this.getModel({ tag: 'Pages', method: 'getPageById', id: { pageId: 2 } })
          .then((res) => {
            if (res.ok) {
              this.page = res.body;
              this.page.image = '/storage/pages/why-us.png';
              this.body = res.body.json_body;

              if (res.body.meta_tags) {
                res.body.meta_tags.forEach((item) => {
                  this.metaTags[item.name] = item.value;
                });
              }

              this.imageAlt = this.getImageAlt();
            }
          });
    },
    save() {
      this.errors = {};
      const data = {...this.page};
      data.meta_tags = this.metaTags;
      data.image_alt = this.imageAlt;
      this.loadingButton = true;
      this.updateModel({ tag: 'Pages', method: 'updatePage', id: { pageId: this.page.id }, data })
          .then((res) => {
            if (res.ok) {
              toastr.success(res.body.message);
              this.get();
            }
          }).catch((errors) => {
            toastr.error('Ошибка валидации формы!');
            this.errors = errors.response.body.errors;
          }).finally(() => {
            this.loadingButton = false;
          });
    },
    getImageAlt() {
      if (this.page.image_object) {
        const image = this.page.image_object.find((item) => item.name === 'alt');
        if (image) {
          return image.value;
        }
      }
      return '';
    },
    getPaths(paths) {
      this.metaTags.ogImage = Object.values(paths)[0];
      this.save();
    },
  },
}
</script>
