<template>
    <div v-if="settings">
      <header-main :email="email" :phones="phones" :telegram="telegram" />
      <div class="page">
          <router-view :email="email"  :phones="phones"></router-view>
      </div>
      <footer-main :email="email" :phones="phones" />
    </div>
</template>

<script>
import { mapState } from 'vuex';

import HeaderMain from './HeaderMain';
import FooterMain from './FooterMain';

export default {
  components: {
    HeaderMain,
    FooterMain,
  },
  computed: {
    ...mapState({
      settings: (state) => state.settings,
    }),
    phones() {
      if (Object.values(this.settings).length) {
        return this.settings.find((item) => item.name === 'phones')
            .json_body.map((item) => {
              item.formatted = this.formatPhone(item.number);
              return item;
            });
      }
      return [];
    },
    telegram() {
      if (Object.values(this.settings).length) {
        return this.settings.find((item) => item.name === 'telegram').json_body;
      }
      return [];
    },
    email() {
      if (Object.values(this.settings).length) {
        return this.settings.find((item) => item.name === 'email').json_body.email;
      }
      return '';
    },
  },
  watch: {
      $route() {
          $("#navbarCollapse").collapse("hide");
      },
  },
  methods: {
    formatPhone(phone) {
      return phone.replaceAll(' ', '').replace('-', '');
    },
  },
};
</script>
