<template>
  <div class="breadcrumbs d-none d-md-block">
    <ul class="list-inline">
      <li
          v-for="(link, index) in links"
          :key="index"
          class="list-inline-item"
      >
        <a
            v-if="link.path"
            v-text="link.title"
            class="text-main d-flex align-items-center"
            :href="link.path"
        />
        <p
            v-else
            class="mb-0"
            v-text="link.title"
        />
      </li>
    </ul>
  </div>
</template>

<script>
export default {
  name: 'Breadcrumbs',
  props: {
    links: {
      type: Array,
      required: true,
    },
  },
}
</script>
