<template>
  <a
      :class="className"
      :href="'mailto:' + email"
  >
    <svg width="16" height="12" viewBox="0 0 16 12" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
          d="M13.1818 2.67271L8.00053 7.23847L2.81811 2.67265C2.61175 2.49085 2.29721 2.51083 2.11548 2.71705C1.93382 2.92334 1.95359 3.23788 2.15995 3.41968L7.67152 8.27548C7.76557 8.35832 7.88311 8.39973 8.00059 8.39973C8.11808 8.39973 8.23569 8.35832 8.32974 8.27542L13.8402 3.41961C14.0464 3.23788 14.0662 2.92327 13.8845 2.71698C13.7027 2.51089 13.3882 2.49098 13.1818 2.67271Z"
          fill="#373F42"/>
      <path
          d="M14.5066 0.557129H1.4934C0.669972 0.557129 0 1.22703 0 2.05053V9.94908C0 10.7726 0.669972 11.4425 1.4934 11.4425H14.5066C15.33 11.4425 16 10.7726 16 9.94908V2.05053C16 1.2271 15.33 0.557129 14.5066 0.557129ZM15.0044 9.94908C15.0044 10.2235 14.7811 10.4469 14.5066 10.4469H1.4934C1.21888 10.4469 0.995599 10.2235 0.995599 9.94908V2.05053C0.995599 1.77607 1.21888 1.55273 1.4934 1.55273H14.5066C14.7811 1.55273 15.0044 1.77607 15.0044 2.05053V9.94908Z"
          fill="#373F42"/>
    </svg>
    {{ email }}
  </a>
</template>

<script>
export default {
  name: 'Email',
  props: {
    className: {
      type: String,
      default: '',
    },
    email: {
      type: String,
      required: true,
    },
  },
}
</script>
