<template>
  <footer class="footer mt-5 pt-lg-5 mb-5 pb-4">
    <div class="container">
      <div class="d-lg-flex align-items-center pt-4 position-relative">
        <a
            v-if="showScrollTop"
            class="scroll-top position-fixed"
            href="#"
            @click.prevent="scrollTo(0, 0)"
        />
        <logo />
        <div class="d-flex d-md-block d-lg-flex align-items-lg-center flex-grow-1 mt-md-3 mt-lg-0">
          <ul class="list-unstyled d-md-flex mb-0 ml-lg-auto mr-auto">
            <li
                class="mr-md-4 mb-3 mb-lg-0"
                v-for="page in pages"
                :key="page.id"
            >
              <a
                  :class="{ active: isCurrentUrl(page.slug) }"
                  class="text-main"
                  :href="page.id !== 4 ? page.slug : '/#questions'"
                  v-html="page.title"
              />
            </li>
          </ul>
          <div class="footer__contacts d-md-flex align-items-md-center d-lg-block">
            <email class-name="text-main mr-md-4 mr-lg-0" :email="email" />
            <phones
                class-name-phones="mb-0 mt-1 mr-md-4 mr-lg-0"
                :phones="phones"
            />
          </div>
        </div>
        <div v-if="phones[0]" class="d-flex justify-content-end">
          <a
            class="mobile-call d-flex d-md-none position-fixed align-items-center justify-content-center"
            @click="storeEvent('call')"
            :href="`tel:${phones[0].formatted}`"
          >
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30">
              <path d="M21.225,17.889c-0.406-0.238-0.905-0.233-1.309,0.007l-2.046,1.219c-0.458,0.273-1.03,0.241-1.45-0.087 c-0.726-0.567-1.895-1.521-2.912-2.538c-1.017-1.017-1.971-2.186-2.538-2.912c-0.328-0.42-0.36-0.992-0.087-1.45l1.219-2.046 c0.241-0.404,0.243-0.907,0.005-1.313L9.105,3.641c-0.291-0.496-0.869-0.74-1.428-0.603C7.134,3.17,6.429,3.492,5.69,4.232 c-2.314,2.314-3.543,6.217,5.159,14.919s12.604,7.474,14.919,5.159c0.741-0.741,1.062-1.447,1.195-1.991 c0.135-0.558-0.105-1.132-0.6-1.422C25.127,20.174,22.461,18.613,21.225,17.889z"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
// import { mapState } from 'vuex';

import Logo from './Logo';
import Email from './Email';
import Phones from './Phones';
import toastr from "../../backend/js/plugins/toastr.min";

export default {
  name: 'FooterMain',
  components: {
    Logo,
    Email,
    Phones,
  },
  props: {
    pages: {
      type: Array,
      required: true,
    },
    phones: {
      type: Array,
      required: true,
    },
    email: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      showScrollTop: false,
    };
  },
  // computed: {
  //   ...mapState({
  //     pages: (state) => state.pages,
  //   }),
  // },
  mounted() {
    window.addEventListener('scroll', () => {
      this.showScrollTop = window.scrollY > window.outerHeight / 2;
    });
  },
  methods: {
    scrollTo() {
      window.scrollTo(0, 0);
    },
    isCurrentUrl(url) {
      return window.location.pathname === url;
    },
    storeEvent(event) {
      window.axios.post('/store-event', { event })
          .then(result => {
            //console.log(result);
          }).catch(err => {
            console.log(err.response);
          });
    },
  },
}
</script>
