<template>
  <div class="position-sticky header__wrap">
    <rates-widget />
    <header class="header bg-white py-lg-1 position-relative">
      <div class="container">
        <nav class="navbar navbar-expand-xl px-0">
          <div class="d-flex align-items-center flex-grow-1">
            <button
                class="navbar-toggler" type="button"
                data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
            >
              <svg width="20" height="12" viewBox="0 0 20 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <rect width="20" height="2.66667" rx="1.33333" fill="#373F42"/>
                <rect y="4.66675" width="20" height="2.66667" rx="1.33333" fill="#373F42"/>
                <rect y="9.33325" width="20" height="2.66667" rx="1.33333" fill="#373F42"/>
              </svg>
            </button>
            <div class="collapse navbar-collapse flex-grow-0" id="navbarSupportedContent">
              <ul class="navbar-nav">
                <li
                    class="nav-item"
                    v-for="page in pages"
                    :key="page.id"
                >
                  <a
                      :class="{
                        home: page.id === 1,
                        active: isCurrentUrl(page.slug),
                      }"
                      @click=goToHash(page.id)
                      class="nav-link"
                      :href="page.id !== 4 ? page.slug : '/#questions'"
                      v-html="page.id !== 1 ? page.title : icon"
                  />
                </li>
              </ul>
            </div>
            <logo class-name="position-relative ml-auto mr-auto" />
          </div>
          <div class="d-flex align-items-center header__phones-wrap">
            <email class-name="mr-3 text-main d-none d-md-inline text-nowrap" :email="email" />
            <phones
                class-name="d-flex justify-content-between d-md-block w-100 header__phones pt-2 pt-lg-0"
                class-name-phones="mb-0"
                :phones="phones"
                :telegram="telegram"
                :show-chats="true"
            />
          </div>
        </nav>
        <div class="d-md-none header__separator border-top position-absolute w-100"></div>
      </div>
    </header>
  </div>
</template>

<script>
import { mapState } from 'vuex';

import RatesWidget from '../components/RatesWidget';
import Logo from './Logo';
import Email from './Email';
import Phones from './Phones';

export default {
  name: 'HeaderMain',
  components: {
    RatesWidget,
    Logo,
    Email,
    Phones,
  },
  props: {
    phones: {
      type: Array,
      required: true,
    },
    email: {
      type: String,
      required: true,
    },
    telegram: {
      type: Array,
      required: true,
    },
  },
  computed: {
    ...mapState({
      pages: (state) => state.pages,
    }),
    icon() {
      return '<svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M19.5 8.65999C19.4994 8.65953 19.499 8.65892 19.4985 8.65846L11.3401 0.500337C10.9923 0.152436 10.53 -0.0390625 10.0382 -0.0390625C9.54639 -0.0390625 9.08405 0.152436 8.73615 0.500337L0.581992 8.65434C0.579245 8.65709 0.576346 8.65999 0.573752 8.66274C-0.140361 9.38097 -0.13914 10.5463 0.577262 11.2627C0.904563 11.5901 1.33669 11.7797 1.79888 11.7996C1.8178 11.8015 1.83672 11.8024 1.8558 11.8024H2.18081V17.8061C2.18081 18.9943 3.14761 19.961 4.33581 19.961H7.52765C7.85129 19.961 8.11359 19.6985 8.11359 19.375V14.668C8.11359 14.1259 8.55472 13.6849 9.09687 13.6849H10.9795C11.5216 13.6849 11.9626 14.1259 11.9626 14.668V19.375C11.9626 19.6985 12.2249 19.961 12.5486 19.961H15.7404C16.9288 19.961 17.8954 18.9943 17.8954 17.8061V11.8024H18.1969C18.6886 11.8024 19.1509 11.6109 19.499 11.2628C20.2161 10.5454 20.2164 9.37792 19.5 8.65999ZM18.6703 10.4343C18.5438 10.5608 18.3756 10.6305 18.1969 10.6305H17.3095C16.9858 10.6305 16.7235 10.8928 16.7235 11.2165V17.8061C16.7235 18.3481 16.2826 18.7891 15.7404 18.7891H13.1345V14.668C13.1345 13.4798 12.1679 12.513 10.9795 12.513H9.09687C7.90851 12.513 6.94171 13.4798 6.94171 14.668V18.7891H4.33581C3.79382 18.7891 3.35269 18.3481 3.35269 17.8061V11.2165C3.35269 10.8928 3.09039 10.6305 2.76675 10.6305H1.89456C1.8854 10.6299 1.8764 10.6294 1.86709 10.6293C1.69253 10.6262 1.5288 10.557 1.40612 10.4341C1.14519 10.1732 1.14519 9.74856 1.40612 9.48748C1.40627 9.48748 1.40627 9.48732 1.40643 9.48717L1.40688 9.48671L9.56501 1.32889C9.69135 1.2024 9.85935 1.13281 10.0382 1.13281C10.2169 1.13281 10.3849 1.2024 10.5114 1.32889L18.6677 9.48503C18.6689 9.48626 18.6703 9.48748 18.6715 9.4887C18.931 9.75008 18.9306 10.1738 18.6703 10.4343Z" fill="black"/></svg>';
    },
  },
  methods: {
    isCurrentUrl(url) {
      return window.location.pathname === url;
    },
    goToHash(id) {
      if (id === 4) {
        window.location.href = '#questions';
        $('.navbar-collapse').collapse('hide');
      }
    },
  },
}
</script>
