<template>
  <a
      :class="className"
      class="navbar-brand"
      href="/"
  >
    <svg width="211" height="50" viewBox="0 0 211 50" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path d="M1.74216 47.3203V40.1621H3.16794L4.86227 45.2305C5.01852 45.7025 5.13246 46.0557 5.20407 46.29C5.28545 46.0296 5.4124 45.6471 5.58493 45.1426L7.2988 40.1621H8.57321V47.3203H7.66013V41.3291L5.58005 47.3203H4.72556L2.65524 41.2266V47.3203H1.74216Z" fill="#76C0CD"/>
      <path d="M12.3154 47.3203L15.0644 40.1621H16.0849L19.0146 47.3203H17.9355L17.1006 45.1523H14.1074L13.3213 47.3203H12.3154ZM14.3808 44.3809H16.8076L16.0605 42.3984C15.8327 41.7962 15.6634 41.3014 15.5527 40.9141C15.4616 41.373 15.333 41.8288 15.167 42.2812L14.3808 44.3809Z" fill="#76C0CD"/>
      <path d="M22.7861 40.1621H27.415V41.0068H23.7334V47.3203H22.7861V40.1621Z" fill="#76C0CD"/>
      <path d="M31.206 40.1621H32.0654V45.8311L35.874 40.1621H36.8261V47.3203H35.9668V41.666L32.1533 47.3203H31.206V40.1621Z" fill="#76C0CD"/>
      <path d="M47.0429 47.3203V40.1621H43.8691C43.2311 40.1621 42.7461 40.2272 42.414 40.3574C42.082 40.4844 41.8167 40.7106 41.6181 41.0361C41.4196 41.3617 41.3203 41.7214 41.3203 42.1152C41.3203 42.623 41.4847 43.0511 41.8134 43.3994C42.1422 43.7477 42.65 43.9691 43.3369 44.0635C43.0862 44.1839 42.8958 44.3027 42.7656 44.4199C42.4889 44.6738 42.2269 44.9912 41.9795 45.3721L40.7343 47.3203H41.9258L42.873 45.8311C43.1497 45.4014 43.3776 45.0726 43.5566 44.8447C43.7356 44.6169 43.8952 44.4574 44.0351 44.3662C44.1784 44.2751 44.3232 44.2116 44.4697 44.1758C44.5771 44.153 44.7529 44.1416 44.997 44.1416H46.0957V47.3203H47.0429ZM46.0957 43.3213H44.0595C43.6266 43.3213 43.2881 43.2773 43.0439 43.1895C42.7998 43.0983 42.6142 42.9551 42.4873 42.7598C42.3603 42.5612 42.2968 42.3464 42.2968 42.1152C42.2968 41.7767 42.4189 41.4984 42.6631 41.2803C42.9104 41.0622 43.2994 40.9531 43.83 40.9531H46.0957V43.3213Z" fill="#76C0CD"/>
      <path d="M57.3496 47.3203V40.1621H60.0351C60.582 40.1621 61.0198 40.2354 61.3486 40.3818C61.6806 40.5251 61.9394 40.748 62.125 41.0508C62.3138 41.3503 62.4082 41.6644 62.4082 41.9932C62.4082 42.2992 62.3252 42.5872 62.1591 42.8574C61.9931 43.1276 61.7425 43.3457 61.4072 43.5117C61.8401 43.6387 62.1722 43.8551 62.4033 44.1611C62.6377 44.4671 62.7549 44.8285 62.7549 45.2451C62.7549 45.5804 62.6832 45.8929 62.54 46.1826C62.4 46.4691 62.2259 46.6904 62.0175 46.8467C61.8092 47.0029 61.5472 47.1217 61.2314 47.2031C60.9189 47.2812 60.5348 47.3203 60.0791 47.3203H57.3496ZM58.2968 43.1699H59.8447C60.2646 43.1699 60.5657 43.1423 60.748 43.0869C60.9889 43.0153 61.1696 42.8965 61.29 42.7305C61.4137 42.5645 61.4756 42.3561 61.4756 42.1055C61.4756 41.8678 61.4186 41.6595 61.3047 41.4805C61.1907 41.2982 61.028 41.1745 60.8164 41.1094C60.6048 41.041 60.2418 41.0068 59.7275 41.0068H58.2968V43.1699ZM58.2968 46.4756H60.0791C60.3851 46.4756 60.5999 46.4642 60.7236 46.4414C60.9417 46.4023 61.124 46.3372 61.2705 46.2461C61.417 46.1549 61.5374 46.0231 61.6318 45.8506C61.7262 45.6748 61.7734 45.473 61.7734 45.2451C61.7734 44.9782 61.705 44.7471 61.5683 44.5518C61.4316 44.3532 61.2412 44.2148 60.997 44.1367C60.7562 44.0553 60.4078 44.0146 59.9521 44.0146H58.2968V46.4756Z" fill="#76C0CD"/>
      <path d="M67.0781 47.3203V40.1621H72.2539V41.0068H68.0254V43.1992H71.9853V44.0391H68.0254V46.4756H72.4199V47.3203H67.0781Z" fill="#76C0CD"/>
      <path d="M81.8359 47.3203H80.8886V44.4346C80.039 44.7503 79.2952 44.9082 78.6572 44.9082C78.1591 44.9082 77.7197 44.7926 77.3388 44.5615C76.958 44.3271 76.7024 44.0309 76.5722 43.6729C76.4453 43.3148 76.3818 42.846 76.3818 42.2666V40.1621H77.3291V42.1787C77.3291 42.96 77.4707 43.4743 77.7539 43.7217C78.0403 43.9658 78.3838 44.0879 78.7841 44.0879C79.4515 44.0879 80.153 43.9398 80.8886 43.6436V40.1621H81.8359V47.3203Z" fill="#76C0CD"/>
      <path d="M86.4277 47.3203V40.1621H87.375V43.1016H91.0957V40.1621H92.0429V47.3203H91.0957V43.9463H87.375V47.3203H86.4277Z" fill="#76C0CD"/>
      <path d="M96.6738 40.1621H97.6211V43.2188H99.33C100.45 43.2188 101.186 43.4255 101.537 43.8389C101.892 44.2523 102.069 44.721 102.069 45.2451C102.069 45.7985 101.881 46.2835 101.503 46.7002C101.125 47.1136 100.424 47.3203 99.3984 47.3203H96.6738V40.1621ZM97.6211 46.5146H99.3545C99.9502 46.5146 100.381 46.4154 100.648 46.2168C100.919 46.015 101.054 45.6943 101.054 45.2549C101.054 44.9554 100.972 44.7048 100.81 44.5029C100.647 44.3011 100.437 44.1725 100.18 44.1172C99.9225 44.0618 99.4928 44.0342 98.8906 44.0342H97.6211V46.5146ZM102.929 40.1621H103.876V47.3203H102.929V40.1621Z" fill="#76C0CD"/>
      <path d="M107.755 47.3203L110.523 43.5898L108.082 40.1621H109.21L110.509 41.998C110.779 42.3789 110.971 42.6719 111.085 42.877C111.244 42.6165 111.433 42.3447 111.651 42.0615L113.092 40.1621H114.122L111.607 43.5361L114.317 47.3203H113.145L111.344 44.7666C111.243 44.6201 111.139 44.4606 111.031 44.2881C110.872 44.5485 110.758 44.7275 110.689 44.8252L108.893 47.3203H107.755Z" fill="#76C0CD"/>
      <path d="M123.94 40.1621H124.888V46.4756H128.618V40.1621H129.57V46.4756H130.225V49.3076H129.385V47.3203H123.94V40.1621Z" fill="#76C0CD"/>
      <path d="M134.357 47.3203V40.1621H139.533V41.0068H135.305V43.1992H139.265V44.0391H135.305V46.4756H139.699V47.3203H134.357Z" fill="#76C0CD"/>
      <path d="M144.037 47.3203V40.1621H144.984V43.1016H148.705V40.1621H149.652V47.3203H148.705V43.9463H144.984V47.3203H144.037Z" fill="#76C0CD"/>
      <path d="M154.264 47.3203V40.1621H155.211V43.1016H158.932V40.1621H159.879V47.3203H158.932V43.9463H155.211V47.3203H154.264Z" fill="#76C0CD"/>
      <path d="M164.173 43.834C164.173 42.6458 164.492 41.7165 165.13 41.0459C165.768 40.3721 166.591 40.0352 167.601 40.0352C168.261 40.0352 168.857 40.193 169.388 40.5088C169.918 40.8245 170.322 41.2656 170.599 41.832C170.879 42.3952 171.019 43.0348 171.019 43.751C171.019 44.4769 170.872 45.1263 170.579 45.6992C170.286 46.2721 169.871 46.7067 169.334 47.0029C168.797 47.2959 168.217 47.4424 167.596 47.4424C166.922 47.4424 166.32 47.2796 165.789 46.9541C165.258 46.6286 164.856 46.1842 164.583 45.6211C164.31 45.0579 164.173 44.4622 164.173 43.834ZM165.149 43.8486C165.149 44.7113 165.381 45.3916 165.843 45.8896C166.308 46.3844 166.891 46.6318 167.591 46.6318C168.304 46.6318 168.89 46.3812 169.349 45.8799C169.811 45.3786 170.042 44.6673 170.042 43.7461C170.042 43.1634 169.943 42.6556 169.744 42.2227C169.549 41.7865 169.261 41.4495 168.88 41.2119C168.502 40.971 168.077 40.8506 167.605 40.8506C166.935 40.8506 166.357 41.0817 165.872 41.5439C165.39 42.0029 165.149 42.7712 165.149 43.8486Z" fill="#76C0CD"/>
      <path d="M180.352 44.8105L181.299 45.0498C181.1 45.8278 180.742 46.4219 180.225 46.832C179.71 47.2389 179.08 47.4424 178.335 47.4424C177.563 47.4424 176.935 47.2861 176.45 46.9736C175.968 46.6579 175.601 46.2021 175.347 45.6064C175.096 45.0107 174.971 44.3711 174.971 43.6875C174.971 42.9421 175.112 42.2926 175.395 41.7393C175.682 41.1826 176.087 40.7611 176.611 40.4746C177.139 40.1849 177.718 40.04 178.35 40.04C179.066 40.04 179.668 40.2223 180.156 40.5869C180.645 40.9515 180.985 41.4642 181.177 42.125L180.244 42.3447C180.078 41.8239 179.837 41.4447 179.521 41.207C179.206 40.9694 178.809 40.8506 178.33 40.8506C177.78 40.8506 177.319 40.9824 176.948 41.2461C176.58 41.5098 176.322 41.8646 176.172 42.3105C176.022 42.7533 175.947 43.2106 175.947 43.6826C175.947 44.2913 176.035 44.8236 176.211 45.2793C176.39 45.7318 176.667 46.0703 177.041 46.2949C177.415 46.5195 177.821 46.6318 178.257 46.6318C178.787 46.6318 179.237 46.4788 179.604 46.1729C179.972 45.8669 180.221 45.4128 180.352 44.8105Z" fill="#76C0CD"/>
      <path d="M186.96 47.3203V41.0068H184.602V40.1621H190.275V41.0068H187.907V47.3203H186.96Z" fill="#76C0CD"/>
      <path d="M194.271 47.3203V40.1621H199.447V41.0068H195.219V43.1992H199.179V44.0391H195.219V46.4756H199.613V47.3203H194.271Z" fill="#76C0CD"/>
      <path d="M203.936 40.1621H204.796V45.8311L208.604 40.1621H209.557V47.3203H208.697V41.666L204.884 47.3203H203.936V40.1621ZM207.496 38.458H208.097C208.048 38.8649 207.898 39.1774 207.647 39.3955C207.4 39.6136 207.07 39.7227 206.656 39.7227C206.24 39.7227 205.906 39.6152 205.655 39.4004C205.408 39.1823 205.26 38.8682 205.211 38.458H205.811C205.857 38.6794 205.947 38.8454 206.08 38.9561C206.217 39.0635 206.399 39.1172 206.627 39.1172C206.891 39.1172 207.089 39.0651 207.223 38.9609C207.359 38.8535 207.45 38.6859 207.496 38.458Z" fill="#76C0CD"/>
      <path d="M12.5177 16.957H14.5177V18.9845H12.5177V16.957Z" fill="#082A47"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M6.18982 33.2577H0.702438L11.0161 10.1182H16.3051L26.6518 33.2577H21.0451L21.0335 33.2669C18.9981 28.311 18.4004 28.311 15.0347 28.311H12.0043C8.2984 28.311 8.27182 28.311 6.19376 33.2574L6.18982 33.2577ZM15.0736 15.8947C14.6737 15.4893 14.2405 14.7123 14.0738 14.3745H13.0096C12.843 14.7123 12.4098 15.4893 12.0099 15.8947C11.61 16.3001 11.1767 16.4015 11.0101 16.4015V16.9082H11.51V18.9353H11.0101V19.442C11.0101 19.6954 11.1351 19.6954 11.2601 19.6954C11.385 19.6954 11.51 19.6954 11.51 19.9488V20.9623L11.0101 25.7557H16.0733L15.5735 20.9623V19.9488C15.5735 19.6954 15.6984 19.6954 15.8234 19.6954C15.9484 19.6954 16.0733 19.6954 16.0733 19.442V18.9353H15.5735V16.9082H16.0733V16.4015C15.9067 16.4015 15.4735 16.3001 15.0736 15.8947Z" fill="#082A47"/>
      <path d="M29.0525 10.1182H34.4077V15.9588L29.0525 16.0819V10.1182Z" fill="#082A47"/>
      <path d="M34.4077 19.3251L29.0525 19.0518V33.2577H46.0105V28.8943H34.4077V19.3251Z" fill="#082A47"/>
      <path d="M54.0272 20.3264L49.0026 20.07V33.2577H54.0272V20.3264Z" fill="#082A47"/>
      <path d="M54.4384 20.3474L60.8038 30.8115H63.2169L69.0044 21.0908L64.2574 20.8486L62.093 24.4977L59.7568 20.6188L54.4384 20.3474Z" fill="#082A47"/>
      <path d="M49.0026 15.6232L56.6421 15.4476L53.4322 10.1182H49.0026V15.6232Z" fill="#082A47"/>
      <path d="M67.6103 15.1954L75.0321 15.0248L75.0181 10.1182H70.6216L67.6103 15.1954Z" fill="#082A47"/>
      <path d="M70.0308 21.1432L75.0503 21.3994L75.0842 33.2577H70.0596L70.0308 21.1432Z" fill="#082A47"/>
      <path d="M80.5742 21.6813L85.9293 21.9546V33.2577H80.5742V21.6813Z" fill="#082A47"/>
      <path d="M80.5742 14.8973L85.9293 14.7742V10.1182H80.5742V14.8973Z" fill="#082A47"/>
      <path d="M91.4208 22.2349V33.2577H96.776V26.8117H101.701L106.164 33.2577H111.916L106.726 25.82C108.247 25.1589 109.415 24.2113 110.23 22.9771C111.067 21.721 111.486 20.2335 111.486 18.5145C111.486 16.7956 111.078 15.308 110.263 14.0519C109.448 12.7957 108.28 11.8261 106.759 11.1429C105.261 10.4597 103.486 10.1182 101.437 10.1182H91.4208V14.6479L96.776 14.5248V14.4816H101.139C102.748 14.4816 103.971 14.8342 104.809 15.5394C105.646 16.2226 106.065 17.2143 106.065 18.5145C106.065 19.7927 105.646 20.7844 104.809 21.4896C103.971 22.1948 102.748 22.5474 101.139 22.5474H96.776V22.5082L91.4208 22.2349Z" fill="#082A47"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M130.968 28.2992H120.225L118.175 33.2577H112.688L123.001 10.1182H128.29L138.637 33.2577H133.018L130.968 28.2992ZM129.282 24.2333L125.613 15.3741L121.944 24.2333H129.282Z" fill="#082A47"/>
      <path d="M162.26 33.2577V10.1182H156.971V24.1672L145.467 10.1182H141.038V33.2577H146.327V19.2087L157.864 33.2577H162.26Z" fill="#082A47"/>
      <path d="M172.528 14.4816H165.123V10.1182H185.288V14.4816H177.883V33.2577H172.528V14.4816Z" fill="#082A47"/>
      <path fill-rule="evenodd" clip-rule="evenodd" d="M191.503 28.2992H202.246L204.296 33.2577H209.915L199.569 10.1182H194.28L183.966 33.2577H189.453L191.503 28.2992ZM196.891 15.3741L200.56 24.2333H193.222L196.891 15.3741Z" fill="#082A47"/>
      <path d="M80.0752 6.64577V1.95058C80.0752 1.95058 88.8868 -0.236206 89.9802 0.0210381C91.0736 0.278282 88.3852 3.17261 89.9802 2.91534C91.9741 2.59375 98.5988 3.36561 99.4993 4.20169C100.4 5.03777 90.6234 3.42983 86.5071 6.96735C86.6143 6.2813 86.7644 4.76769 86.5071 4.20169C86.2498 3.63569 82.112 5.59525 80.0752 6.64577Z" fill="#76C0CD"/>
    </svg>
  </a>
</template>

<script>
export default {
  name: 'Logo',
  props: {
    className: {
      type: String,
      default: '',
    },
  },
}
</script>
