<template>
  <div :class="className">
    <p
        :class="classNamePhones"
        v-for="(phone, index) in phones"
        :key="index"
        class="position-relative"
    >
      <a
          :class="{ 'd-none d-md-inline': showChats }"
          class="text-main"
          :href="'tel:' + phone.formatted"
      >
        <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M11.0469 1H4.17188C3.52569 1 3 1.52569 3 2.17188V15.8281C3 16.4743 3.52569 17 4.17188 17H11.0469C11.6931 17 12.2188 16.4743 12.2188 15.8281V2.17188C12.2188 1.52569 11.6931 1 11.0469 1ZM11.75 13.7188H3.73438C3.60494 13.7188 3.5 13.8237 3.5 13.9531C3.5 14.0826 3.60494 14.1875 3.73438 14.1875H11.75V15.8281C11.75 16.2158 11.4346 16.5312 11.0469 16.5312H4.17188C3.78416 16.5312 3.46875 16.2158 3.46875 15.8281V14.1875H4.17188C4.30131 14.1875 4.40625 14.0826 4.40625 13.9531C4.40625 13.8237 4.30131 13.7188 4.17188 13.7188H3.46875V3.34375H11.75V13.7188ZM11.75 2.875H3.46875V2.17188C3.46875 1.78416 3.78416 1.46875 4.17188 1.46875H11.0469C11.4346 1.46875 11.75 1.78416 11.75 2.17188V2.875Z"
              fill="#373F42" stroke="#373F42" stroke-width="0.6"/>
        </svg>
        {{ phone.number }}
        <template v-if="showText">Whatsapp, Viber</template>
      </a>
      <a
          v-if="showChats"
          class="text-main d-md-none phones-link"
          href="#"
          @click.prevent="!showChat.includes(index) ? showChat.push(index) : showChat = showChat.filter(chat => chat !== index)"
      >
        <svg width="16" height="18" viewBox="0 0 16 18" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M11.0469 1H4.17188C3.52569 1 3 1.52569 3 2.17188V15.8281C3 16.4743 3.52569 17 4.17188 17H11.0469C11.6931 17 12.2188 16.4743 12.2188 15.8281V2.17188C12.2188 1.52569 11.6931 1 11.0469 1ZM11.75 13.7188H3.73438C3.60494 13.7188 3.5 13.8237 3.5 13.9531C3.5 14.0826 3.60494 14.1875 3.73438 14.1875H11.75V15.8281C11.75 16.2158 11.4346 16.5312 11.0469 16.5312H4.17188C3.78416 16.5312 3.46875 16.2158 3.46875 15.8281V14.1875H4.17188C4.30131 14.1875 4.40625 14.0826 4.40625 13.9531C4.40625 13.8237 4.30131 13.7188 4.17188 13.7188H3.46875V3.34375H11.75V13.7188ZM11.75 2.875H3.46875V2.17188C3.46875 1.78416 3.78416 1.46875 4.17188 1.46875H11.0469C11.4346 1.46875 11.75 1.78416 11.75 2.17188V2.875Z"
              fill="#373F42" stroke="#373F42" stroke-width="0.6"/>
        </svg>
        {{ phone.number }}
      </a>
      <span
          v-if="showChat.includes(index)"
          class="header__phones-chats d-block pb-3 position-absolute bg-white px-3 w-100"
      >
        <a class="d-flex align-items-center text-main" :href="'tel:' + phone.formatted">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect width="20" height="20" rx="10" fill="#EC5C5C"/>
            <path d="M13.4117 6.30998C12.5669 5.46517 11.4436 4.99995 10.2489 5C10.0532 5 9.89453 5.15868 9.89453 5.35441C9.89453 5.55013 10.0532 5.70881 10.2489 5.70881C11.2543 5.70877 12.1995 6.10027 12.9105 6.81121C13.6215 7.52215 14.013 8.46743 14.0129 9.47285C14.0129 9.66858 14.1716 9.82726 14.3673 9.82726C14.5631 9.82726 14.7217 9.66858 14.7217 9.4729C14.7218 8.27808 14.2566 7.1548 13.4117 6.30998Z" fill="white"/>
            <path d="M11.9538 9.47286C11.9538 9.66859 12.1125 9.82727 12.3083 9.82722C12.504 9.82722 12.6626 9.66854 12.6626 9.47281C12.6625 8.14213 11.5798 7.05939 10.249 7.0592C10.2489 7.0592 10.249 7.0592 10.2489 7.0592C10.0532 7.0592 9.89458 7.21784 9.89453 7.41356C9.89453 7.60929 10.0532 7.76797 10.2489 7.76802C11.1889 7.76816 11.9537 8.53292 11.9538 9.47286Z" fill="white"/>
            <path d="M11.1691 11.2799C10.6289 11.2519 10.3537 11.6537 10.2217 11.8467C10.1112 12.0082 10.1526 12.2288 10.3141 12.3393C10.4757 12.4498 10.6962 12.4084 10.8067 12.2469C10.9627 12.0189 11.0333 11.983 11.1292 11.9876C11.4359 12.0236 12.6439 12.9089 12.7649 13.1857C12.7953 13.2672 12.7941 13.3471 12.7616 13.4443C12.6347 13.8207 12.4248 14.0853 12.1543 14.2093C11.8973 14.3271 11.5823 14.3164 11.2434 14.1785C9.9781 13.6628 8.87263 12.943 7.95779 12.0392C7.95741 12.0389 7.95703 12.0385 7.9567 12.0382C7.05481 11.1242 6.3364 10.0202 5.82152 8.75678C5.68358 8.41763 5.6729 8.10254 5.79071 7.84562C5.9147 7.57514 6.17923 7.36518 6.55533 7.2385C6.65286 7.2058 6.73263 7.20476 6.81338 7.23481C7.09119 7.35621 7.97641 8.56422 8.01213 8.86749C8.01723 8.96692 7.98108 9.03751 7.75327 9.19317C7.59166 9.30356 7.55012 9.52409 7.66056 9.6857C7.77094 9.84731 7.99143 9.8888 8.15309 9.77841C8.34617 9.64657 8.74783 9.37212 8.71995 8.83007C8.68924 8.26387 7.58783 6.76444 7.06156 6.57093C6.82751 6.4837 6.58132 6.48219 6.32955 6.56668C5.76306 6.75745 5.35393 7.09758 5.14639 7.55028C4.94509 7.98946 4.95147 8.499 5.16506 9.02409C5.71609 10.3761 6.48705 11.5591 7.45647 12.5404C7.45883 12.5428 7.46124 12.5452 7.4637 12.5475C8.44422 13.5151 9.62586 14.2846 10.9761 14.835C11.2465 14.945 11.5128 15 11.7674 15C12.0072 15 12.2368 14.9512 12.4497 14.8536C12.9024 14.6461 13.2425 14.237 13.4334 13.6702C13.5177 13.4189 13.5164 13.1728 13.4298 12.9398C13.2356 12.4121 11.7362 11.3107 11.1691 11.2799Z" fill="white"/>
          </svg>
          <span class="ml-2">Позвонить</span>
        </a>
        <a class="d-flex align-items-center text-main" :href="`https://wa.me/${phone.formatted}`">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10Z" fill="#25D366"/>
            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.5 6.4375C12.5625 5.5 11.3125 5 10 5C7.25 5 5 7.25 5 10C5 10.875 5.25 11.75 5.6875 12.5L5 15L7.62501 14.3125C8.37501 14.6875 9.1875 14.9375 10 14.9375C12.75 14.9375 15 12.6875 15 9.9375C15 8.625 14.4375 7.375 13.5 6.4375ZM10 14.125C9.25 14.125 8.5 13.9375 7.875 13.5625L7.75 13.5L6.1875 13.9375L6.625 12.4375L6.5 12.25C6.0625 11.5625 5.875 10.8125 5.875 10.0625C5.875 7.8125 7.75 5.9375 10 5.9375C11.125 5.9375 12.125 6.375 12.9375 7.125C13.75 7.9375 14.125 8.9375 14.125 10.0625C14.125 12.25 12.3125 14.125 10 14.125ZM12.25 11C12.125 10.9375 11.5 10.625 11.375 10.625C11.25 10.5625 11.1875 10.5625 11.125 10.6875C11.0625 10.8125 10.8125 11.0625 10.75 11.1875C10.6875 11.25 10.625 11.25 10.5 11.25C10.375 11.1875 10 11.0625 9.50001 10.625C9.12501 10.3125 8.875 9.875 8.8125 9.75C8.75 9.625 8.81251 9.5625 8.87501 9.5C8.93751 9.4375 9 9.375 9.0625 9.3125C9.125 9.25 9.12501 9.1875 9.18751 9.125C9.25001 9.0625 9.18751 9 9.18751 8.9375C9.18751 8.875 8.9375 8.25 8.8125 8C8.75 7.8125 8.62501 7.8125 8.56251 7.8125C8.50001 7.8125 8.43749 7.8125 8.31249 7.8125C8.24999 7.8125 8.12499 7.8125 7.99999 7.9375C7.87499 8.0625 7.5625 8.375 7.5625 9C7.5625 9.625 8 10.1875 8.0625 10.3125C8.125 10.375 8.93749 11.6875 10.1875 12.1875C11.25 12.625 11.4375 12.5 11.6875 12.5C11.9375 12.5 12.4375 12.1875 12.5 11.9375C12.625 11.625 12.625 11.375 12.5625 11.375C12.5 11.0625 12.375 11.0625 12.25 11Z" fill="white"/>
          </svg>
          <span class="ml-2">Whatsapp</span>
        </a>
        <a class="d-flex align-items-center text-main" :href="`viber://chat?number=${phone.formatted}`">
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M20 0H0V20H20V0Z" fill="#7D3DAF"/>
            <path d="M14.4585 7.40414L14.4556 7.39259C14.2222 6.44902 13.1699 5.43652 12.2036 5.22587L12.1927 5.22363C10.6297 4.92546 9.04489 4.92546 7.48221 5.22363L7.47098 5.22587C6.50497 5.43652 5.45271 6.44902 5.21898 7.39259L5.21642 7.40414C4.92786 8.72187 4.92786 10.0582 5.21642 11.3759L5.21898 11.3875C5.44274 12.2908 6.41664 13.2567 7.34691 13.5224V14.5757C7.34691 14.9569 7.81148 15.1441 8.07567 14.8691L9.14283 13.7598C9.37429 13.7727 9.60587 13.7799 9.83745 13.7799C10.6242 13.7799 11.4113 13.7055 12.1927 13.5565L12.2036 13.5542C13.1699 13.3436 14.2222 12.3311 14.4556 11.3875L14.4585 11.376C14.747 10.0582 14.747 8.72187 14.4585 7.40414ZM13.614 11.1848C13.4582 11.8004 12.6592 12.5657 12.0244 12.7071C11.1933 12.8651 10.3557 12.9327 9.51885 12.9095C9.50221 12.9091 9.48621 12.9155 9.47461 12.9274C9.35585 13.0493 8.69542 13.7273 8.69542 13.7273L7.86662 14.5779C7.80603 14.6411 7.69958 14.5981 7.69958 14.5109V12.766C7.69958 12.7372 7.679 12.7127 7.65069 12.7072C7.65053 12.7071 7.65037 12.7071 7.65021 12.7071C7.01539 12.5657 6.21674 11.8004 6.0606 11.1848C5.8009 9.99372 5.8009 8.78628 6.0606 7.59519C6.21674 6.97961 7.01539 6.2143 7.65021 6.07291C9.10163 5.79686 10.5733 5.79686 12.0244 6.07291C12.6595 6.2143 13.4582 6.97961 13.614 7.59519C13.874 8.78631 13.874 9.99375 13.614 11.1848Z" fill="white"/>
            <path d="M11.2188 11.9907C11.1212 11.9611 11.0282 11.9412 10.9419 11.9053C10.0468 11.534 9.2231 11.0549 8.57061 10.3205C8.19956 9.90295 7.90915 9.43148 7.66365 8.93254C7.54724 8.69593 7.44913 8.45004 7.34913 8.20577C7.25795 7.983 7.39225 7.75287 7.53367 7.58502C7.66638 7.42751 7.83714 7.30695 8.02207 7.21811C8.16641 7.14876 8.3088 7.18874 8.41422 7.31109C8.64211 7.5756 8.85144 7.85364 9.02095 8.16024C9.12518 8.34883 9.09658 8.57935 8.90768 8.70769C8.86176 8.73889 8.81992 8.7755 8.77715 8.81074C8.73964 8.84161 8.70434 8.87281 8.67863 8.91462C8.63162 8.99112 8.62938 9.08134 8.65965 9.16451C8.89261 9.80471 9.28527 10.3025 9.92964 10.5707C10.0327 10.6136 10.1363 10.6635 10.2551 10.6497C10.454 10.6264 10.5185 10.4082 10.6579 10.2942C10.7941 10.1828 10.9682 10.1813 11.115 10.2742C11.2618 10.3671 11.4042 10.4668 11.5456 10.5676C11.6845 10.6666 11.8227 10.7634 11.9508 10.8762C12.074 10.9846 12.1164 11.1269 12.047 11.2741C11.9201 11.5437 11.7353 11.768 11.4688 11.9111C11.3936 11.9515 11.3037 11.9646 11.2188 11.9907C11.1212 11.961 11.3037 11.9646 11.2188 11.9907Z" fill="white"/>
            <path d="M9.83997 6.90967C11.0107 6.94247 11.9723 7.71941 12.1783 8.87684C12.2134 9.07405 12.2259 9.27568 12.2415 9.47585C12.2481 9.56004 12.2004 9.64003 12.1096 9.64112C12.0157 9.64224 11.9735 9.56373 11.9674 9.47956C11.9554 9.31297 11.947 9.14564 11.924 8.98043C11.8028 8.10832 11.1074 7.38681 10.2394 7.23198C10.1087 7.20867 9.97505 7.20255 9.84273 7.18867C9.75908 7.17988 9.64953 7.17482 9.631 7.07084C9.61545 6.98367 9.68903 6.91425 9.77204 6.9098C9.79461 6.90854 9.81731 6.90957 9.83997 6.90967C11.0107 6.94247 9.81731 6.90957 9.83997 6.90967Z" fill="white"/>
            <path d="M11.6189 9.21535C11.617 9.22997 11.616 9.26434 11.6074 9.29672C11.5764 9.41426 11.3982 9.42897 11.3571 9.31035C11.345 9.27514 11.3431 9.2351 11.3431 9.1972C11.3427 8.94924 11.2888 8.70153 11.1637 8.48579C11.0352 8.26405 10.8388 8.07764 10.6085 7.96485C10.4692 7.89666 10.3186 7.85427 10.1659 7.82901C10.0992 7.81798 10.0318 7.81127 9.96476 7.80194C9.88352 7.79066 9.84014 7.73888 9.84399 7.65882C9.84758 7.5838 9.9024 7.52984 9.98416 7.53445C10.2528 7.54972 10.5123 7.60778 10.7512 7.73426C11.2369 7.99149 11.5144 8.39752 11.5954 8.93968C11.599 8.96424 11.6049 8.98858 11.6068 9.01323C11.6114 9.07412 11.6143 9.13507 11.6189 9.21535C11.617 9.22997 11.6143 9.13507 11.6189 9.21535Z" fill="white"/>
            <path d="M10.8907 9.18688C10.7927 9.18864 10.7403 9.13442 10.7302 9.04462C10.7232 8.982 10.7176 8.91855 10.7027 8.85764C10.6732 8.73766 10.6095 8.62647 10.5085 8.55295C10.4609 8.51823 10.4069 8.49294 10.3504 8.47662C10.2785 8.45587 10.2039 8.46158 10.1322 8.44401C10.0544 8.42493 10.0113 8.3619 10.0235 8.28886C10.0347 8.2224 10.0993 8.17052 10.172 8.17578C10.6259 8.20855 10.9503 8.44321 10.9966 8.97755C10.9998 9.01525 11.0037 9.0551 10.9953 9.09117C10.981 9.15292 10.9353 9.18386 10.8907 9.18688C10.7927 9.18864 10.9353 9.18386 10.8907 9.18688Z" fill="white"/>
          </svg>
          <span class="ml-2">Viber</span>
        </a>
        <a
            v-if="telegram[index] && telegram[index].account"
            class="d-flex align-items-center text-main"
            :href="`https://t.me/${telegram[index].account}`"
        >
          <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0 10C0 15.5228 4.47715 20 10 20C15.5228 20 20 15.5228 20 10C20 4.47715 15.5228 0 10 0C4.47715 0 0 4.47715 0 10Z" fill="#0088CC"/>
            <path d="M5.06245 9.81768C7.7468 8.64816 9.53678 7.87713 10.4324 7.50461C12.9896 6.44099 13.521 6.25623 13.8673 6.25006C13.9435 6.24878 14.1138 6.26766 14.2241 6.35718C14.3173 6.43277 14.3429 6.53488 14.3552 6.60655C14.3674 6.67821 14.3827 6.84147 14.3706 6.96904C14.232 8.42506 13.6324 11.9584 13.3273 13.5892C13.1982 14.2792 12.9441 14.5106 12.698 14.5332C12.1633 14.5824 11.7572 14.1799 11.2393 13.8404C10.4289 13.3091 9.97106 12.9784 9.18439 12.46C8.27526 11.8609 8.86461 11.5316 9.38272 10.9935C9.51832 10.8527 11.8744 8.70966 11.92 8.51526C11.9257 8.49094 11.931 8.40032 11.8771 8.35246C11.8233 8.30461 11.7438 8.32097 11.6865 8.33399C11.6052 8.35243 10.3105 9.20817 7.80243 10.9012C7.43494 11.1535 7.10208 11.2765 6.80385 11.27C6.47507 11.2629 5.84264 11.0841 5.37249 10.9313C4.79583 10.7439 4.33751 10.6448 4.37742 10.3264C4.39821 10.1606 4.62655 9.99103 5.06245 9.81768Z" fill="white"/>
          </svg>
          <span class="ml-2">Telegram</span>
        </a>
      </span>
    </p>
  </div>
</template>

<script>
export default {
  name: 'Phones',
  props: {
    className: {
      type: String,
      default: '',
    },
    classNamePhones: {
      type: String,
      default: '',
    },
    phones: {
      type: Array,
      required: true,
    },
    telegram: {
      type: Array,
      default: () => [],
    },
    showText: {
      type: Boolean,
      default: false,
    },
    showChats: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      showChat: [],
    };
  },
}
</script>
